Repository CSID-DGU/2024-2-DSCD-talkingPotato-1, changes with the owners that .github/CODEOWNERS names for each.
All owners: @HyungJoonSon, @kurtyoon, @tkdwns414

feat: TTS UI/UX
  client-app/lib/presentation/text_to_speech_converter/fragment/complete_text_analysis_fragment.dart
  client-app/lib/presentation/text_to_speech_converter/fragment/loading_text_analysis_fragment.dart
  client-app/lib/presentation/text_to_speech_converter/fragment/selecting_picture_fragment.dart
  client-app/lib/presentation/text_to_speech_converter/text_to_speech_converter_screen.dart
  client-app/lib/presentation/view_model/text_to_speech_converter/text_to_speech_converter_binding.dart
  client-app/lib/presentation/view_model/text_to_speech_converter/text_to_speech_converter_view_model.dart
Owners: @HyungJoonSon

✨ Feature - STT/TTS UI/UX (#21)
  client-app/assets/animations/loading.riv
  client-app/assets/icons/lips.svg
  client-app/assets/icons/picture.svg
  client-app/ios/Podfile.lock
  client-app/ios/Runner.xcodeproj/project.pbxproj
  client-app/ios/Runner/Info.plist
  client-app/lib/app/config/app_pages.dart
  client-app/lib/app/config/app_routes.dart
  client-app/lib/domain/entity/speech_to_text_state.dart
  client-app/lib/presentation/speech_to_text_converter/fragment/complete_speech_analysis_fragment.dart
  client-app/lib/presentation/speech_to_text_converter/fragment/loading_speech_analysis_fragment.dart
  client-app/lib/presentation/speech_to_text_converter/fragment/recording_speech_fragment.dart
  client-app/lib/presentation/speech_to_text_converter/speech_to_text_converter_screen.dart
  client-app/lib/presentation/text_to_speech_converter/fragment/complete_text_analysis_fragment.dart
  client-app/lib/presentation/text_to_speech_converter/fragment/loading_text_analysis_fragment.dart
  client-app/lib/presentation/text_to_speech_converter/fragment/selecting_picture_fragment.dart
  client-app/lib/presentation/text_to_speech_converter/text_to_speech_converter_screen.dart
  client-app/lib/presentation/view/home/home_screen.dart
  client-app/lib/presentation/view_model/speech_to_text_converter/speech_to_text_converter_binding.dart
  client-app/lib/presentation/view_model/speech_to_text_converter/speech_to_text_converter_view_model.dart
  client-app/lib/presentation/view_model/text_to_speech_converter/text_to_speech_converter_binding.dart
  client-app/lib/presentation/view_model/text_to_speech_converter/text_to_speech_converter_view_model.dart
  client-app/lib/presentation/widget/animation/rive_animation_view.dart
  client-app/lib/presentation/widget/button/primary/primary_fill_button.dart
  client-app/pubspec.yaml
Owners: @HyungJoonSon

feat: Question Prompt
  server-llm/prompt_engineering.ipynb
Owners: @HyungJoonSon

chore: Docker Compose File
  server-api/build.gradle
  server-api/docker-compose.yml
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/config/MailConfig.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/listener/EmailListener.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/utility/EmailUtil.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/security/controller/command/AccountCommandV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/security/dto/request/UpdatePasswordInAccountDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/security/service/AuthenticateUserNameService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/security/service/LoginByDefaultService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/security/service/SignUpByDefaultService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/security/service/UpdatePasswordInAccountService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/security/usecase/UpdatePasswordInAccountUseCase.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

fix: Public Get URL
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/constant/Constants.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

fix: Public Post URL
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/constant/Constants.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

feat: Article Domain
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/domain/mysql/Article.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/domain/mysql/Comment.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

feat: Tag Domain
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/tag/domain/mysql/ArticleTag.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/tag/domain/mysql/Tag.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

feat: Medication Domain
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/domain/mysql/Medication.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/domain/mysql/Schedule.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/domain/type/ETakenTime.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

feat: Question Domain
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/domain/mysql/Answer.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/domain/mysql/Question.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

✨ Feature - Create Domains (#26)
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/domain/mysql/Article.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/domain/mysql/Comment.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/domain/mysql/Medication.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/domain/mysql/Schedule.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/domain/type/ETakenTime.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/domain/mysql/Answer.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/domain/mysql/Question.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/tag/domain/mysql/ArticleTag.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/tag/domain/mysql/Tag.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

feat: Article Apis
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/controller/command/ArticleCommandV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/controller/query/ArticleQueryV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/domain/mysql/Article.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/dto/projection/ReadArticleListProjection.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/dto/projection/ReadArticleProjection.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/dto/request/CreateArticleDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/dto/request/UpdateArticleDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/dto/response/ReadArticleDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/dto/response/ReadArticleListDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/repository/mysql/ArticleRepository.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/service/CreateArticleService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/service/DeleteArticleService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/service/ReadArticleListService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/service/ReadArticleService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/service/UpdateArticleService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/usecase/CreateArticleUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/usecase/DeleteArticleUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/usecase/ReadArticleListUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/usecase/ReadArticleUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/usecase/UpdateArticleUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/exception/error/ErrorCode.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/tag/repository/mysql/ArticleTagRepository.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/tag/repository/mysql/TagRepository.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

fix: format misc
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/controller/command/ArticleCommandV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/controller/query/ArticleQueryV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/dto/response/ReadArticleListDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/usecase/CreateArticleUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/usecase/ReadArticleListUseCase.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

feat: Comment Apis
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/controller/command/CommentCommandV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/controller/query/CommentQueryV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/dto/projection/ReadCommentListProjection.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/dto/request/CreateCommentDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/dto/response/ReadCommentListDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/repository/mysql/CommentRepository.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/service/CreateCommentService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/service/DeleteCommentService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/service/ReadCommentListService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/usecase/CreateCommentUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/usecase/DeleteCommentUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/usecase/ReadCommentListUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/exception/error/ErrorCode.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

✨ Feature - Article, Tag, Comment API (#28)
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/controller/command/ArticleCommandV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/controller/command/CommentCommandV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/controller/query/ArticleQueryV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/controller/query/CommentQueryV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/domain/mysql/Article.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/dto/projection/ReadArticleListProjection.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/dto/projection/ReadArticleProjection.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/dto/projection/ReadCommentListProjection.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/dto/request/CreateArticleDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/dto/request/CreateCommentDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/dto/request/UpdateArticleDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/dto/response/ReadArticleDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/dto/response/ReadArticleListDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/dto/response/ReadCommentListDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/repository/mysql/ArticleRepository.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/repository/mysql/CommentRepository.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/service/CreateArticleService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/service/CreateCommentService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/service/DeleteArticleService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/service/DeleteCommentService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/service/ReadArticleListService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/service/ReadArticleService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/service/ReadCommentListService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/service/UpdateArticleService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/usecase/CreateArticleUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/usecase/CreateCommentUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/usecase/DeleteArticleUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/usecase/DeleteCommentUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/usecase/ReadArticleListUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/usecase/ReadArticleUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/usecase/ReadCommentListUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/usecase/UpdateArticleUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/exception/error/ErrorCode.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/tag/repository/mysql/ArticleTagRepository.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/tag/repository/mysql/TagRepository.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

fix: format misc
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/controller/query/ArticleQueryV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/service/DeleteCommentService.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

feat: Question API
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/exception/error/ErrorCode.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/controller/command/QuestionCommandV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/controller/query/QuestionQueryV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/dto/projection/ReadQuestionListProjection.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/dto/projection/ReadQuestionProjection.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/dto/request/CreateQuestionRequestDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/dto/response/ReadQuestionDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/dto/response/ReadQuestionListDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/repository/mysql/QuestionRepository.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/service/CreateQuestionService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/service/DeleteQuestionService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/service/ReadQuestionListService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/service/ReadQuestionService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/usecase/CreateQuestionUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/usecase/DeleteQuestionUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/usecase/ReadQuestionListUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/usecase/ReadQuestionUseCase.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

feat: Answer API
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/exception/error/ErrorCode.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/controller/command/AnswerCommandV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/controller/query/AnswerQueryV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/dto/projection/ReadAnswerListProjection.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/dto/request/CreateAnswerDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/dto/response/ReadAnswerListDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/repository/mysql/AnswerRepository.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/service/CreateAnswerService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/service/DeleteAnswerService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/service/ReadAnswerListService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/usecase/CreateAnswerUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/usecase/DeleteAnswerUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/usecase/ReadAnswerListUseCase.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

fix: change type and variableName to reveal intent better
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/repository/mysql/CommentRepository.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/dto/projection/ReadQuestionListProjection.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/dto/projection/ReadQuestionProjection.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/dto/response/ReadQuestionDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/dto/response/ReadQuestionListDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/repository/mysql/QuestionRepository.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

fix: misc & add todo
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/controller/command/QuestionCommandV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/domain/mysql/Question.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/service/CreateQuestionService.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

fix: typo
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/controller/command/ArticleCommandV1Controller.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

✨ Feature - Question, Answer API (#31)
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/controller/command/ArticleCommandV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/controller/query/ArticleQueryV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/repository/mysql/CommentRepository.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/service/DeleteCommentService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/exception/error/ErrorCode.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/controller/command/AnswerCommandV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/controller/command/QuestionCommandV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/controller/query/AnswerQueryV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/controller/query/QuestionQueryV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/domain/mysql/Question.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/dto/projection/ReadAnswerListProjection.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/dto/projection/ReadQuestionListProjection.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/dto/projection/ReadQuestionProjection.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/dto/request/CreateAnswerDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/dto/request/CreateQuestionRequestDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/dto/response/ReadAnswerListDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/dto/response/ReadQuestionDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/dto/response/ReadQuestionListDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/repository/mysql/AnswerRepository.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/repository/mysql/QuestionRepository.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/service/CreateAnswerService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/service/CreateQuestionService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/service/DeleteAnswerService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/service/DeleteQuestionService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/service/ReadAnswerListService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/service/ReadQuestionListService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/service/ReadQuestionService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/usecase/CreateAnswerUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/usecase/CreateQuestionUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/usecase/DeleteAnswerUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/usecase/DeleteQuestionUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/usecase/ReadAnswerListUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/usecase/ReadQuestionListUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/usecase/ReadQuestionUseCase.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

chore: Validation Library
  client-web/package.json
  client-web/tsconfig.app.json
  client-web/tsconfig.node.json
  client-web/vite.config.ts
Owners: @kurtyoon

feat: Answer Entity
  client-web/src/entities/answer/answer.contracts.ts
  client-web/src/entities/answer/answer.query.ts
  client-web/src/entities/answer/answer.service.ts
  client-web/src/entities/answer/answer.types.ts
  client-web/src/entities/answer/index.ts
Owners: @kurtyoon

feat: Article Entity
  client-web/src/entities/article/article.contracts.ts
  client-web/src/entities/article/article.queries.ts
  client-web/src/entities/article/article.service.ts
  client-web/src/entities/article/article.types.ts
  client-web/src/entities/article/index.ts
Owners: @kurtyoon

feat: Auth Entity
  client-web/src/entities/auth/auth.contracts.ts
  client-web/src/entities/auth/auth.service.ts
  client-web/src/entities/auth/auth.types.ts
  client-web/src/entities/auth/index.ts
Owners: @kurtyoon

feat: Comment Entity
  client-web/src/entities/comment/comment.contracts.ts
  client-web/src/entities/comment/comment.query.ts
  client-web/src/entities/comment/comment.service.ts
  client-web/src/entities/comment/comment.types.ts
  client-web/src/entities/comment/index.ts
Owners: @kurtyoon

feat: Question Entity
  client-web/src/entities/question/index.ts
  client-web/src/entities/question/question.contracts.ts
  client-web/src/entities/question/question.queries.ts
  client-web/src/entities/question/question.service.ts
  client-web/src/entities/question/question.types.ts
Owners: @kurtyoon

feat: Create Article Feature
  client-web/src/features/article/create-article/article-create-section/create-input-section/create-content-input/create-content-input.ui.tsx
  client-web/src/features/article/create-article/article-create-section/create-preview-section/create-preview-section.ui.tsx
  client-web/src/features/article/create-article/article-create-top-bar/article-create-top-bar.ui.tsx
  client-web/src/features/article/create-article/create-article.mutation.ts
  client-web/src/features/article/create-article/index.ts
  client-web/src/features/article/index.ts
  client-web/src/features/article/markdown-editor/index.ts
  client-web/src/features/article/markdown-editor/markdown-editor.style.ts
  client-web/src/features/article/markdown-editor/markdown-editor.ui.tsx
  client-web/src/features/article/markdown-viewer/index.ts
  client-web/src/features/article/markdown-viewer/markdown-viewer.style.ts
  client-web/src/features/article/markdown-viewer/markdown-viewer.ui.tsx
Owners: @kurtyoon

feat: User API
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/controller/.persistent
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/controller/command/UserCommandV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/controller/query/UserQueryV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/domain/type/ETime.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/dto/.persistent
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/dto/request/UpdateUserNotificationTimeDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/dto/response/ReadUserDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/service/.persistent
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/service/ReadUserService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/service/UpdateUserNotificationTimeService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/usecase/.persistent
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/usecase/ReadUserUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/usecase/UpdateUserNotificationTimeUseCase.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

feat: Medication API
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/exception/error/ErrorCode.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/controller/command/MedicationCommandV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/domain/mysql/Medication.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/dto/request/CreateMedicationDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/dto/request/UpdateMedicationDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/repository/mysql/MedicationRepository.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/service/CreateMedicationService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/service/UpdateMedicationService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/usecase/CreateMedicationUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/usecase/UpdateMedicationUseCase.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

feat: Schedule API
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/exception/error/ErrorCode.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/controller/command/ScheduleCommandV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/controller/query/ScheduleQueryV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/domain/mysql/Schedule.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/dto/request/CreateScheduleDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/dto/response/ReadScheduleSummaryDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/dto/response/ReadScheduleWithTimeDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/repository/mysql/MedicationRepository.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/repository/mysql/ScheduleRepository.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/service/CreateScheduleService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/service/DeleteScheduleService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/service/ReadScheduleSummaryService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/service/ReadScheduleWithTimeService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/usecase/CreateScheduleUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/usecase/DeleteScheduleUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/usecase/ReadScheduleSummaryUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/usecase/ReadScheduleWithTimeUseCase.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

✨ Feature - Medication, Schedule, User API (#34)
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/exception/error/ErrorCode.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/controller/command/MedicationCommandV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/controller/command/ScheduleCommandV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/controller/query/ScheduleQueryV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/domain/mysql/Medication.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/domain/mysql/Schedule.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/dto/request/CreateMedicationDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/dto/request/CreateScheduleDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/dto/request/UpdateMedicationDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/dto/response/ReadScheduleSummaryDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/dto/response/ReadScheduleWithTimeDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/repository/mysql/MedicationRepository.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/repository/mysql/ScheduleRepository.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/service/CreateMedicationService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/service/CreateScheduleService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/service/DeleteScheduleService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/service/ReadScheduleSummaryService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/service/ReadScheduleWithTimeService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/service/UpdateMedicationService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/usecase/CreateMedicationUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/usecase/CreateScheduleUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/usecase/DeleteScheduleUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/usecase/ReadScheduleSummaryUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/usecase/ReadScheduleWithTimeUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/usecase/UpdateMedicationUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/controller/.persistent
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/controller/command/UserCommandV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/controller/query/UserQueryV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/domain/type/ETime.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/dto/.persistent
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/dto/request/UpdateUserNotificationTimeDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/dto/response/ReadUserDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/service/.persistent
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/service/ReadUserService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/service/UpdateUserNotificationTimeService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/usecase/.persistent
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/usecase/ReadUserUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/usecase/UpdateUserNotificationTimeUseCase.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

feat: search in article
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/controller/query/ArticleQueryV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/repository/mysql/ArticleRepository.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/repository/mysql/custom/ArticleRepositoryCustom.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/repository/mysql/custom/ArticleRepositoryCustomImpl.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/service/ReadArticleListService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/repository/contributor/CustomFunctionContributor.java
  server-api/src/main/resources/META-INF/services/org.hibernate.boot.model.FunctionContributor
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

chore: Comment Screne PATH
  client-app/lib/app/config/app_pages.dart
  client-app/lib/app/config/app_routes.dart
  client-app/lib/presentation/view/article/detail/article_detail_screen.dart
  client-app/lib/presentation/view/comment/adding/comment_adding_screen.dart
  client-app/lib/presentation/view_model/comment/adding/comment_adding_binding.dart
  client-app/lib/presentation/view_model/comment/adding/comment_adding_view_model.dart
  client-app/lib/presentation/view_model/comment_writing/comment_writing_binding.dart
  client-app/lib/presentation/view_model/comment_writing/comment_writing_view_model.dart
Owners: @HyungJoonSon

feat: Drug Add Screen UI/UX
  client-app/lib/app/config/app_dependence.dart
  client-app/lib/data/provider/analysis/analysis_remote_provider.dart
  client-app/lib/data/provider/analysis/analysis_remote_provider_impl.dart
  client-app/lib/data/repository/analysis/analysis_repository_impl.dart
  client-app/lib/domain/condition/analysis/analysis_drug_bag_condition.dart
  client-app/lib/domain/entity/medication/medication_state.dart
  client-app/lib/domain/repository/analysis/analysis_repository.dart
  client-app/lib/domain/usecase/drug_bag/analysis_drug_bag_use_case.dart
  client-app/lib/presentation/view/medication/adding/fragment/loading_drug_bag_analysis_fragment.dart
  client-app/lib/presentation/view/medication/adding/fragment/selecting_drug_bag_picture_fragment.dart
  client-app/lib/presentation/view/medication/adding/medication_adding_screen.dart
  client-app/lib/presentation/view/medication/adding/widget/drug_summary_card/drug_summary_card_item_view.dart
  client-app/lib/presentation/view_model/medication/adding/medication_adding_binding.dart
  client-app/lib/presentation/view_model/medication/adding/medication_adding_view_model.dart
  client-app/lib/presentation/widget/medication/basic/medication_basic_default_item_view.dart
Owners: @HyungJoonSon

feat: API Server CI/CD
  .github/workflows/api-server.yaml
Owners: none

feat: Comment
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/security/controller/command/AuthCommandController.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

✨ Feature - API Server CI/CD (#36)
  .github/workflows/api-server.yaml
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/security/controller/command/AuthCommandController.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

fix: Branch Path
  .github/workflows/api-server.yaml
Owners: none

.github/CODEOWNERS:

/client-app/ @HyungJoonSon

/client-web/ @kurtyoon

/server-api/ @tkdwns414 @HyungJoonSon @kurtyoon

/server-llm/ @HyungJoonSon
