Repository CSID-DGU/2024-2-DSCD-talkingPotato-1, changes with the owners that .github/CODEOWNERS names for each.
All owners: @HyungJoonSon, @kurtyoon, @tkdwns414

.github/CODEOWNERS:

/client-app/ @HyungJoonSon

/client-web/ @kurtyoon

/server-api/ @tkdwns414 @HyungJoonSon @kurtyoon

/server-llm/ @HyungJoonSon

feat: TTS Modeul
  client-app/ios/Podfile.lock
  client-app/lib/presentation/view/text_to_speech_converter/fragment/complete_text_analysis_fragment.dart
  client-app/lib/presentation/view/text_to_speech_converter/widget/tts_button/tts_button.dart
  client-app/lib/presentation/view_model/text_to_speech_converter/text_to_speech_converter_view_model.dart
  client-app/pubspec.yaml
Owners: @HyungJoonSon

refactor: STT Screen UI/UX
  client-app/lib/presentation/view/speech_to_text_converter/fragment/complete_speech_analysis_fragment.dart
  client-app/lib/presentation/view/speech_to_text_converter/fragment/recording_speech_fragment.dart
  client-app/lib/presentation/view/speech_to_text_converter/widget/stt_button/stt_button.dart
  client-app/lib/presentation/view_model/speech_to_text_converter/speech_to_text_converter_view_model.dart
Owners: @HyungJoonSon

chore: Version Up 1.0.3
  client-app/pubspec.yaml
Owners: @HyungJoonSon

fix: BaseConnect Error
  client-app/lib/core/provider/base_connect.dart
Owners: @HyungJoonSon

fix: BaseConnect Error
  client-app/lib/core/provider/base_connect.dart
Owners: @HyungJoonSon

✨ Feature - STT/TTS (#65)
  client-app/ios/Podfile.lock
  client-app/lib/core/provider/base_connect.dart
  client-app/lib/domain/usecase/comment/create_article_comment_use_case.dart
  client-app/lib/domain/usecase/question/create_question_use_case.dart
  client-app/lib/presentation/view/article/searching/article_searching_screen.dart
  client-app/lib/presentation/view/article/searching/widget/article_result/article_result_view.dart
  client-app/lib/presentation/view/article/searching/widget/article_search_term_field/article_search_term_field.dart
  client-app/lib/presentation/view/comment/adding/comment_adding_screen.dart
  client-app/lib/presentation/view/comment/adding/widget/comment_input_field/comment_input_field.dart
  client-app/lib/presentation/view/comment/adding/widget/comment_speech_button/comment_speech_button.dart
  client-app/lib/presentation/view/question/adding/question_adding_screen.dart
  client-app/lib/presentation/view/question/adding/widget/question_input_field/question_input_field.dart
  client-app/lib/presentation/view/question/adding/widget/question_speech_button/question_speech_button.dart
  client-app/lib/presentation/view/question/detail/widget/answer_card/component/answer_default_item_view.dart
  client-app/lib/presentation/view/question/searching/question_searching_screen.dart
  client-app/lib/presentation/view/question/searching/widget/question_result/question_result_view.dart
  client-app/lib/presentation/view/question/searching/widget/question_search_term_field/question_search_term_field.dart
  client-app/lib/presentation/view/speech_to_text_converter/fragment/complete_speech_analysis_fragment.dart
  client-app/lib/presentation/view/speech_to_text_converter/fragment/recording_speech_fragment.dart
  client-app/lib/presentation/view/speech_to_text_converter/widget/stt_button/stt_button.dart
  client-app/lib/presentation/view/text_to_speech_converter/fragment/complete_text_analysis_fragment.dart
  client-app/lib/presentation/view/text_to_speech_converter/widget/tts_button/tts_button.dart
  client-app/lib/presentation/view_model/article/searching/article_searching_view_model.dart
  client-app/lib/presentation/view_model/comment/adding/comment_adding_view_model.dart
  client-app/lib/presentation/view_model/question/adding/question_adding_view_model.dart
  client-app/lib/presentation/view_model/question/searching/question_searching_view_model.dart
  client-app/lib/presentation/view_model/speech_to_text_converter/speech_to_text_converter_view_model.dart
  client-app/lib/presentation/view_model/text_to_speech_converter/text_to_speech_converter_view_model.dart
  client-app/lib/presentation/widget/article/summary/article_summary_default_item_view.dart
  client-app/lib/presentation/widget/common/text_input/custom_text_form_field.dart
  client-app/pubspec.yaml
Owners: @HyungJoonSon

refactor: Size Up Font
  client-app/lib/app/config/font_system.dart
Owners: @HyungJoonSon

refactor: Speech To Text Converter Screen UI/UX
  client-app/lib/presentation/view/speech_to_text_converter/fragment/loading_speech_analysis_fragment.dart
  client-app/lib/presentation/view/speech_to_text_converter/fragment/recording_speech_fragment.dart
  client-app/lib/presentation/view/speech_to_text_converter/widget/stt_button/stt_button.dart
Owners: @HyungJoonSon

refactor: Splash Screen UI/UX
  client-app/lib/presentation/view/splash/splash_screen.dart
Owners: @HyungJoonSon

refactor: Splash, STT, TTS Screen UI/UX
  client-app/lib/domain/usecase/question/read_question_brief_list_by_user_use_case.dart
  client-app/lib/presentation/view/home/home_screen.dart
  client-app/lib/presentation/view/home/widget/user_information/component/question_mini_default_item_view.dart
  client-app/lib/presentation/view/home/widget/user_information/user_information_view.dart
  client-app/lib/presentation/view/question/adding/widget/question_speech_button/question_speech_button.dart
  client-app/lib/presentation/view/speech_to_text_converter/fragment/loading_speech_analysis_fragment.dart
  client-app/lib/presentation/view/speech_to_text_converter/widget/stt_button/stt_button.dart
  client-app/lib/presentation/view/text_to_speech_converter/fragment/selecting_picture_fragment.dart
  client-app/lib/presentation/view/text_to_speech_converter/widget/tts_button/tts_button.dart
  client-app/lib/presentation/widget/question/brief/question_brief_default_item_view.dart
Owners: @HyungJoonSon

refactor: Sign Up Screen UI/UX
  client-app/lib/presentation/view/sign_up/fragment/email_input_fragment.dart
Owners: @HyungJoonSon

fix: Token Error
  client-app/lib/core/provider/base_connect.dart
  client-app/lib/presentation/view/home/widget/user_information/user_information_view.dart
  client-app/lib/presentation/view_model/splash/splash_view_model.dart
Owners: @HyungJoonSon

refactor: Login/Sign Up Screen UI/UX
  client-app/lib/core/provider/base_connect.dart
  client-app/lib/presentation/view/login/login_screen.dart
  client-app/lib/presentation/view/sign_up/fragment/finish_sign_up_fragment.dart
  client-app/lib/presentation/view/sign_up/fragment/nickname_input_fragment.dart
  client-app/lib/presentation/view/sign_up/fragment/password_input_fragment.dart
  client-app/lib/presentation/widget/common/text_input/custom_text_form_field.dart
Owners: @HyungJoonSon

refactor: Setting Screen UI/UX
  client-app/lib/presentation/view/setting/bottom_sheet/time_picker_bottom_sheet.dart
  client-app/lib/presentation/view/setting/setting_screen.dart
  client-app/lib/presentation/view/setting/widget/time_section/time_section_view.dart
  client-app/lib/presentation/view/setting/widget/toggle_section/toggle_section_view.dart
  client-app/lib/presentation/widget/common/button/base/base_fill_button.dart
  client-app/lib/presentation/widget/common/button/base/base_outline_button.dart
Owners: @HyungJoonSon

refactor: Root Screen UI/UX
  client-app/lib/presentation/view/root/widget/drug_floating_action_button/drug_floating_action_button.dart
Owners: @HyungJoonSon

refactor: Root Screen UI/UX
  client-app/lib/presentation/view/root/widget/custom_bottom_navigation_bar/custom_bottom_navigation_bar.dart
Owners: @HyungJoonSon

refactor: Home Screen UI/UX
  client-app/lib/presentation/view/home/widget/convert_button/convert_button.dart
  client-app/lib/presentation/view/home/widget/user_information/component/question_mini_default_item_view.dart
Owners: @HyungJoonSon

refactor: Medication Default Screen UI/UX
  client-app/lib/presentation/view/medication/default/medication_screen.dart
  client-app/lib/presentation/view/medication/default/widget/schedule_card/component/schedule_card_item_view.dart
  client-app/lib/presentation/view/medication/default/widget/schedule_card/schedule_card_list_view.dart
  client-app/lib/presentation/view/medication/default/widget/timeline_card/component/timeline_card_item_view.dart
  client-app/lib/presentation/view/medication/default/widget/timeline_card/timeline_card_list_view.dart
Owners: @HyungJoonSon

refactor: Drug Detail Screen UI/UX
  client-app/lib/presentation/view/drug/detail/drug_detail_screen.dart
  client-app/lib/presentation/view/drug/detail/widget/drug_brief_information/drug_brief_information_view.dart
  client-app/lib/presentation/view/drug/detail/widget/drug_detail_information/component/drug_categories_card_view.dart
  client-app/lib/presentation/view/drug/detail/widget/drug_detail_information/component/drug_default_card_view.dart
  client-app/lib/presentation/view/drug/detail/widget/drug_detail_information/component/drug_image_card_view.dart
  client-app/lib/presentation/view/drug/detail/widget/drug_detail_information/drug_detail_information_view.dart
Owners: @HyungJoonSon

fix: Schedule Pixel Error
  client-app/lib/presentation/view/medication/default/widget/schedule_card/component/schedule_card_item_view.dart
Owners: @HyungJoonSon

fix: Withdrawal User Cascade with Medication, Question
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/domain/mysql/User.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

🚑 HotFix - Withdrawal User Cascade with Medication, Question Error (#67)
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/domain/mysql/User.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

refactor: Medication Editing Screen UI/UX
  client-app/lib/presentation/view/medication/editing/medication_editing_screen.dart
  client-app/lib/presentation/view/medication/editing/widget/medication_content_for_editing/medication_content_for_editing_view.dart
  client-app/lib/presentation/widget/common/dialog/confirm_dialog.dart
  client-app/lib/presentation/widget/medication/basic/medication_basic_default_item_view.dart
Owners: @HyungJoonSon

hotfix: User Mapped with Medication, Question
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/domain/mysql/User.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

🚑 HotFix - User Mapped with Medication, Question (#68)
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/domain/mysql/User.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

refactor: Medication Adding Screen UI/UX
  client-app/lib/presentation/view/medication/adding/fragment/finish_medication_fragment.dart
  client-app/lib/presentation/view/medication/adding/fragment/selecting_drug_bag_picture_fragment.dart
  client-app/lib/presentation/view/medication/default/widget/schedule_card/component/schedule_card_item_view.dart
  client-app/lib/presentation/widget/drug/brief/drug_brief_default_item_view.dart
  client-app/lib/presentation/widget/drug/summary/drug_summary_default_item_view.dart
  client-app/lib/presentation/widget/medication/basic/medication_basic_default_item_view.dart
Owners: @HyungJoonSon

refactor: Board screen UI/UX
  client-app/lib/presentation/view/board/board_screen.dart
  client-app/lib/presentation/view/board/widget/article_brief_card/article_brief_card_list_view.dart
  client-app/lib/presentation/view/board/widget/question_brief_card/question_brief_card_list_view.dart
  client-app/lib/presentation/widget/article/brief/article_brief_default_item_view.dart
  client-app/lib/presentation/widget/common/appbar/text_default_app_bar.dart
  client-app/lib/presentation/widget/question/brief/question_brief_default_item_view.dart
Owners: @HyungJoonSon

refactor: Article Screen UI/YX
  client-app/lib/presentation/view/article/detail/widget/article_detail/article_detail_view.dart
  client-app/lib/presentation/view/article/detail/widget/comment_card/component/comment_default_item_view.dart
  client-app/lib/presentation/view/article/searching/widget/article_result/article_result_view.dart
  client-app/lib/presentation/widget/article/summary/article_summary_default_item_view.dart
Owners: @HyungJoonSon

refactor: Comment Screen UI/UX
  client-app/lib/presentation/view/comment/adding/comment_adding_screen.dart
  client-app/lib/presentation/view/comment/adding/widget/comment_input_field/comment_input_field.dart
  client-app/lib/presentation/view/comment/adding/widget/comment_speech_button/comment_speech_button.dart
Owners: @HyungJoonSon

refactor: Question Screen UI/UX
  client-app/lib/presentation/view/comment/adding/widget/comment_input_field/comment_input_field.dart
  client-app/lib/presentation/view/question/adding/question_adding_screen.dart
  client-app/lib/presentation/view/question/adding/widget/question_input_field/question_input_field.dart
  client-app/lib/presentation/view/question/adding/widget/question_speech_button/question_speech_button.dart
  client-app/lib/presentation/view/question/searching/widget/question_result/question_result_view.dart
  client-app/lib/presentation/view_model/question/searching/question_searching_view_model.dart
  client-app/lib/presentation/widget/question/summary/question_summary_default_item_view.dart
Owners: @HyungJoonSon

hotfix: User Mapped by Comment
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/expert/domain/mysql/Expert.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/domain/mysql/User.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

🚑 HotFix - User Mapped by Comment (#69)
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/expert/domain/mysql/Expert.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/domain/mysql/User.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

feat: Change Password Screen UI/UX & APi Connection
  client-app/lib/app/config/app_dependence.dart
  client-app/lib/app/config/app_pages.dart
  client-app/lib/data/provider/account/account_remote_provider.dart
  client-app/lib/data/provider/account/account_remote_provider_impl.dart
  client-app/lib/data/repository/account/account_repository_impl.dart
  client-app/lib/domain/condition/account/update_password_in_account_condition.dart
  client-app/lib/domain/repository/account/account_repository.dart
  client-app/lib/domain/usecase/account/update_password_in_account_use_case.dart
  client-app/lib/presentation/view/change_password/change_password_screen.dart
  client-app/lib/presentation/view/change_password/fragment/finish_sign_up_fragment.dart
  client-app/lib/presentation/view/change_password/fragment/password_input_fragment.dart
  client-app/lib/presentation/view/setting/setting_screen.dart
  client-app/lib/presentation/view_model/change_password/change_password_binding.dart
  client-app/lib/presentation/view_model/change_password/change_password_view_model.dart
  client-app/pubspec.yaml
Owners: @HyungJoonSon

feat: FCM BODY
  client-app/android/app/src/main/res/raw/keep.xml
  client-app/android/app/src/main/res/raw/noti.wav
  client-app/ios/Runner.xcodeproj/project.pbxproj
  client-app/ios/noti.wav
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/notification/service/NotificationService.java
Owners: @HyungJoonSon, @tkdwns414, @kurtyoon

feat: Constants
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/constant/Constants.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

chore: Version UP
  client-app/pubspec.yaml
Owners: @HyungJoonSon

✨ Feature - Custom Notification Sound (#72)
  client-app/android/app/src/main/res/raw/keep.xml
  client-app/android/app/src/main/res/raw/noti.wav
  client-app/ios/Runner.xcodeproj/project.pbxproj
  client-app/ios/noti.wav
  client-app/pubspec.yaml
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/constant/Constants.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/notification/service/NotificationService.java
Owners: @HyungJoonSon, @tkdwns414, @kurtyoon

feat: Thread Pool Task
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/config/SchedulerConfig.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/listener/GenerationListener.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/listener/persistent
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/scheduler/UpdaterScheduler.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/validator/TimeValueValidator.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/event/CreateQuestionEvent.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/service/CreateAnswerService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/service/CreateQuestionService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/service/DeleteQuestionService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/tag/domain/mysql/Tag.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

fix: Delete Seq Table
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/domain/mysql/Article.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/domain/mysql/Comment.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/domain/mysql/Medication.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/domain/mysql/Schedule.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/domain/mysql/Answer.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/domain/mysql/Question.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/security/domain/mysql/Account.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/security/service/AuthenticateUserNameService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/tag/domain/mysql/ArticleTag.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

feat: Generation API
  server-llm/correction/service.py
  server-llm/correction/views.py
  server-llm/generation/service.py
  server-llm/generation/views.py
Owners: @HyungJoonSon
