Repository CSID-DGU/2024-2-DSCD-talkingPotato-1, changes with the owners that .github/CODEOWNERS names for each.
All owners: @HyungJoonSon, @kurtyoon, @tkdwns414

.github/CODEOWNERS:

/client-app/ @HyungJoonSon

/client-web/ @kurtyoon

/server-api/ @tkdwns414 @HyungJoonSon @kurtyoon

/server-llm/ @HyungJoonSon

chore: fvm Setting
  client-app/.fvmrc
Owners: @HyungJoonSon

feat: Add Dependences and fonts
  client-app/README.md
  client-app/assets/fonts/Pretendard-Black.otf
  client-app/assets/fonts/Pretendard-Bold.otf
  client-app/assets/fonts/Pretendard-ExtraBold.otf
  client-app/assets/fonts/Pretendard-ExtraLight.otf
  client-app/assets/fonts/Pretendard-Light.otf
  client-app/assets/fonts/Pretendard-Medium.otf
  client-app/assets/fonts/Pretendard-Regular.otf
  client-app/assets/fonts/Pretendard-SemiBold.otf
  client-app/assets/fonts/Pretendard-Thin.otf
  client-app/pubspec.yaml
Owners: @HyungJoonSon

chore: Project Naming Woowahan -> Wooahan
  client-app/android/app/build.gradle
  client-app/android/app/src/main/AndroidManifest.xml
  client-app/android/app/src/main/kotlin/com/dongguk/dscd/wooahan/app/MainActivity.kt
  client-app/ios/Flutter/Debug.xcconfig
  client-app/ios/Flutter/Release.xcconfig
  client-app/ios/Podfile
  client-app/ios/Podfile.lock
  client-app/ios/Runner.xcodeproj/project.pbxproj
  client-app/ios/Runner.xcworkspace/contents.xcworkspacedata
  client-app/ios/Runner/Info.plist
  client-app/lib/app/env/common/environment.dart
  client-app/lib/app/env/common/environment_factory.dart
  client-app/lib/app/env/dev/dev_environment.dart
  client-app/test/widget_test.dart
Owners: @HyungJoonSon

feat: Boiler Plate Setting
  client-app/lib/app/config/app_config.dart
  client-app/lib/app/config/app_dependence.dart
  client-app/lib/app/config/app_pages.dart
  client-app/lib/app/config/app_routes.dart
  client-app/lib/app/config/color_system.dart
  client-app/lib/app/config/font_system.dart
  client-app/lib/app/env/common/environment_factory.dart
  client-app/lib/app/middleware/persistent
  client-app/lib/app/type/persistent
  client-app/lib/app/utility/date_time_util.dart
  client-app/lib/app/utility/log_util.dart
  client-app/lib/app/utility/validator_util.dart
  client-app/lib/core/provider/base_connect.dart
  client-app/lib/core/screen/base_screen.dart
  client-app/lib/core/screen/base_widget.dart
  client-app/lib/core/usecase/async_condition_usecase.dart
  client-app/lib/core/usecase/async_no_condition_usecase.dart
  client-app/lib/core/usecase/common/base_usecase.dart
  client-app/lib/core/usecase/sync_condition_usecase.dart
  client-app/lib/core/usecase/sync_no_condition_usecase.dart
  client-app/lib/core/wrapper/response_wrapper.dart
  client-app/lib/core/wrapper/result_wrapper.dart
  client-app/lib/core/wrapper/state_wrapper.dart
  client-app/lib/data/factory/storage_factory.dart
  client-app/lib/data/model/persistent
  client-app/lib/data/provider/common/system_provider.dart
  client-app/lib/data/provider/common/system_provider_impl.dart
  client-app/lib/data/provider/persistent
  client-app/lib/data/repository/persistent
  client-app/lib/domain/entity/persistent
  client-app/lib/domain/repository/persistent
  client-app/lib/domain/usecase/persistent
  client-app/lib/main.dart
  client-app/lib/main_app.dart
  client-app/lib/presentation/view/root/root_screen.dart
  client-app/lib/presentation/view_model/root/root_binding.dart
  client-app/lib/presentation/view_model/root/root_view_model.dart
  client-app/test/widget_test.dart
Owners: @HyungJoonSon

feat: App Bar, Image View, Line View
  client-app/assets/icons/left_chevron.svg
  client-app/lib/presentation/view/root/root_screen.dart
  client-app/lib/presentation/widget/appbar/text_back_app_bar.dart
  client-app/lib/presentation/widget/appbar/text_default_app_bar.dart
  client-app/lib/presentation/widget/image/network_image_view.dart
  client-app/lib/presentation/widget/image/svg_image_view.dart
  client-app/lib/presentation/widget/line/infinity_horizon_line.dart
  client-app/lib/presentation/widget/line/infinity_vertical_line.dart
Owners: @HyungJoonSon

feat: Common Component - Button
  client-app/lib/presentation/view/root/root_screen.dart
  client-app/lib/presentation/widget/button/blue/blue_fill_button.dart
  client-app/lib/presentation/widget/button/blue/blue_outline_button.dart
  client-app/lib/presentation/widget/button/common/base_fill_button.dart
  client-app/lib/presentation/widget/button/common/base_outline_button.dart
  client-app/lib/presentation/widget/button/neutral/neutral_fill_button.dart
  client-app/lib/presentation/widget/button/neutral/neutral_outline_button.dart
  client-app/lib/presentation/widget/button/primary/primary_fill_button.dart
  client-app/lib/presentation/widget/button/primary/primary_outline_button.dart
  client-app/lib/presentation/widget/button/red/red_fill_button.dart
  client-app/lib/presentation/widget/button/red/red_outline_button.dart
  client-app/lib/presentation/widget/button/secondary/secondary_fill_button.dart
  client-app/lib/presentation/widget/button/secondary/secondary_outline_button.dart
  client-app/lib/presentation/widget/button/yellow/yellow_fill_button.dart
  client-app/lib/presentation/widget/button/yellow/yellow_outline_button.dart
Owners: @HyungJoonSon

feat: React Project Init
  client-web/.gitignore
  client-web/README.md
  client-web/eslint.config.js
  client-web/index.html
  client-web/package.json
  client-web/persistent
  client-web/public/vite.svg
  client-web/src/main.tsx
  client-web/src/shared/assets/fonts/Pretendard-Black.otf
  client-web/src/shared/assets/fonts/Pretendard-Bold.otf
  client-web/src/shared/assets/fonts/Pretendard-ExtraBold.otf
  client-web/src/shared/assets/fonts/Pretendard-ExtraLight.otf
  client-web/src/shared/assets/fonts/Pretendard-Light.otf
  client-web/src/shared/assets/fonts/Pretendard-Medium.otf
  client-web/src/shared/assets/fonts/Pretendard-Regular.otf
  client-web/src/shared/assets/fonts/Pretendard-SemiBold.otf
  client-web/src/shared/assets/fonts/Pretendard-Thin.otf
  client-web/src/vite-env.d.ts
  client-web/tsconfig.app.json
  client-web/tsconfig.json
  client-web/tsconfig.node.json
  client-web/vite.config.ts
  client-web/yarn.lock
Owners: @kurtyoon

chore: using svg assets
  client-web/src/shared/assets/icons/Article.svg
  client-web/src/shared/assets/icons/Back.svg
  client-web/src/shared/assets/icons/Close.svg
  client-web/src/shared/assets/icons/DisposeChevron.svg
  client-web/src/shared/assets/icons/ExpandChevron.svg
  client-web/src/shared/assets/icons/Home.svg
  client-web/src/shared/assets/icons/Question.svg
  client-web/src/shared/assets/icons/Setting.svg
  client-web/src/shared/assets/icons/Writing.svg
  client-web/src/shared/assets/icons/eye_svgrepo.svg
Owners: @kurtyoon

chore: Spring Project Init
  server-api/.gitignore
  server-api/Dockerfile
  server-api/build.gradle
  server-api/gradle/wrapper/gradle-wrapper.jar
  server-api/gradle/wrapper/gradle-wrapper.properties
  server-api/gradlew
  server-api/gradlew.bat
  server-api/settings.gradle
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/WooahanApplication.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/listener/persistent
  server-api/src/main/resources/application.yml
  server-api/src/test/java/org/dongguk/dscd/wooahan/api/WooahanApplicationTests.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

feat: Core Boiler Plate
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/annotation/common/AccountID.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/annotation/common/UseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/annotation/valid/DateTimeValue.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/annotation/valid/DateValue.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/annotation/valid/EnumValue.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/annotation/valid/TimeValue.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/config/ApplicationEventConfig.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/config/ORMConfig.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/config/SwaggerConfig.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/config/WebMVCConfig.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/constant/Constants.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/dto/ArgumentNotValidExceptionDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/dto/ExceptionDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/dto/PageInfo.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/dto/ResponseDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/exception/error/ErrorCode.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/exception/handler/HttpGlobalExceptionHandler.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/exception/type/CommonException.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/exception/type/HttpJsonWebTokenException.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/interceptor/post/ResponseDtoInterceptor.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/interceptor/pre/AccountIDInterceptor.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/resolver/AccountIDArgumentResolver.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/utility/DateTimeUtil.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/validator/DateTimeValueValidator.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/validator/DateValueValidator.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/validator/EnumValueValidator.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/validator/TimeValueValidator.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

✨ Feature - Spring Project Init, Core Boiler Plate (#6)
  server-api/.gitignore
  server-api/Dockerfile
  server-api/build.gradle
  server-api/gradle/wrapper/gradle-wrapper.jar
  server-api/gradle/wrapper/gradle-wrapper.properties
  server-api/gradlew
  server-api/gradlew.bat
  server-api/settings.gradle
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/WooahanApplication.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/annotation/common/AccountID.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/annotation/common/UseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/annotation/valid/DateTimeValue.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/annotation/valid/DateValue.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/annotation/valid/EnumValue.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/annotation/valid/TimeValue.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/config/ApplicationEventConfig.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/config/ORMConfig.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/config/SwaggerConfig.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/config/WebMVCConfig.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/constant/Constants.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/dto/ArgumentNotValidExceptionDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/dto/ExceptionDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/dto/PageInfo.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/dto/ResponseDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/exception/error/ErrorCode.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/exception/handler/HttpGlobalExceptionHandler.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/exception/type/CommonException.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/exception/type/HttpJsonWebTokenException.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/interceptor/post/ResponseDtoInterceptor.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/interceptor/pre/AccountIDInterceptor.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/listener/persistent
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/resolver/AccountIDArgumentResolver.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/utility/DateTimeUtil.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/validator/DateTimeValueValidator.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/validator/DateValueValidator.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/validator/EnumValueValidator.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/validator/TimeValueValidator.java
  server-api/src/main/resources/application.yml
  server-api/src/test/java/org/dongguk/dscd/wooahan/api/WooahanApplicationTests.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

feat: Add Assets
  client-app/assets/icons/chatting.svg
  client-app/assets/icons/home.svg
  client-app/assets/icons/medication_management.svg
Owners: @HyungJoonSon

feat: Init Screen Setting
  client-app/lib/presentation/view/board/board_screen.dart
  client-app/lib/presentation/view/home/home_screen.dart
  client-app/lib/presentation/view/medication_management/medication_management_screen.dart
  client-app/lib/presentation/view_model/board/board_binding.dart
  client-app/lib/presentation/view_model/board/board_view_model.dart
  client-app/lib/presentation/view_model/home/home_binding.dart
  client-app/lib/presentation/view_model/home/home_view_model.dart
  client-app/lib/presentation/view_model/medication_management/medication_management_binding.dart
  client-app/lib/presentation/view_model/medication_management/medication_management_view_model.dart
Owners: @HyungJoonSon

feat: Custom Bottom Navigation Bar
  client-app/lib/app/config/app_pages.dart
  client-app/lib/presentation/view/root/root_screen.dart
  client-app/lib/presentation/view/root/widget/custom_bottom_navigation_bar/custom_bottom_navigation_bar.dart
  client-app/lib/presentation/view_model/root/root_view_model.dart
Owners: @HyungJoonSon

fix: Relative Path -> Absolute Path
  client-app/lib/app/config/app_pages.dart
Owners: @HyungJoonSon

refactor: Move Obx Widget
  client-app/lib/presentation/view/root/widget/custom_bottom_navigation_bar/custom_bottom_navigation_bar.dart
Owners: @HyungJoonSon

✨ Feature - Init Screen Setting and Custom Bottom Navigation Bar Component (#9)
  client-app/assets/icons/chatting.svg
  client-app/assets/icons/home.svg
  client-app/assets/icons/medication_management.svg
  client-app/lib/app/config/app_pages.dart
  client-app/lib/presentation/view/board/board_screen.dart
  client-app/lib/presentation/view/home/home_screen.dart
  client-app/lib/presentation/view/medication_management/medication_management_screen.dart
  client-app/lib/presentation/view/root/root_screen.dart
  client-app/lib/presentation/view/root/widget/custom_bottom_navigation_bar/custom_bottom_navigation_bar.dart
  client-app/lib/presentation/view_model/board/board_binding.dart
  client-app/lib/presentation/view_model/board/board_view_model.dart
  client-app/lib/presentation/view_model/home/home_binding.dart
  client-app/lib/presentation/view_model/home/home_view_model.dart
  client-app/lib/presentation/view_model/medication_management/medication_management_binding.dart
  client-app/lib/presentation/view_model/medication_management/medication_management_view_model.dart
  client-app/lib/presentation/view_model/root/root_view_model.dart
Owners: @HyungJoonSon

feat: Add Assets
  client-app/assets/icons/setting.svg
  client-app/assets/icons/stt.svg
  client-app/assets/icons/tts.svg
  client-app/assets/images/white_logo.svg
Owners: @HyungJoonSon

feat: Home Screen UI/UX
  client-app/lib/app/config/font_system.dart
  client-app/lib/presentation/view/home/home_screen.dart
  client-app/lib/presentation/view/home/widget/convert_button/convert_button.dart
  client-app/lib/presentation/view/home/widget/user_information/component/my_step_graph_layer.dart
  client-app/lib/presentation/view/home/widget/user_information/component/user_name_layer.dart
  client-app/lib/presentation/view/home/widget/user_information/user_information_view.dart
  client-app/lib/presentation/view/root/root_screen.dart
  client-app/lib/presentation/widget/appbar/text_default_app_bar.dart
Owners: @HyungJoonSon

feat: Article Item Component
  client-web/src/features/article/article-list/article-item/article-item.lib.ts
  client-web/src/features/article/article-list/article-item/article-item.mock.ts
  client-web/src/features/article/article-list/article-item/article-item.style.ts
  client-web/src/features/article/article-list/article-item/article-item.ui.tsx
  client-web/src/features/article/article-list/article-item/index.ts
  client-web/src/features/article/article-list/article-item/item-tag/index.ts
  client-web/src/features/article/article-list/article-item/item-tag/item-tag.style.ts
  client-web/src/features/article/article-list/article-item/item-tag/item-tag.ui.tsx
  client-web/src/features/article/article-list/article-list.style.ts
  client-web/src/features/article/article-list/article-list.ui.tsx
  client-web/src/features/article/article-list/article-top-bar/article-top-bar.style.ts
  client-web/src/features/article/article-list/article-top-bar/article-top-bar.ui.tsx
  client-web/src/features/article/article-list/article-top-bar/index.ts
  client-web/src/features/article/article-list/article-top-bar/search-button/index.ts
  client-web/src/features/article/article-list/article-top-bar/search-button/search-button.style.ts
  client-web/src/features/article/article-list/article-top-bar/search-button/search-button.ui.tsx
  client-web/src/features/article/article-list/article-top-bar/search-input/index.ts
  client-web/src/features/article/article-list/article-top-bar/search-input/search-input.style.ts
  client-web/src/features/article/article-list/article-top-bar/search-input/search-input.ui.tsx
  client-web/src/features/article/article-list/index.ts
  client-web/src/features/article/components/index.tsx
  client-web/src/features/article/index.ts
  client-web/src/pages/article/article.style.ts
  client-web/src/pages/article/article.ui.tsx
  client-web/src/shared/layouts/root-layout/root-layout.style.ts
  client-web/src/shared/layouts/root-layout/root-layout.ui.tsx
  client-web/src/shared/utils/date-time-util.ts
  client-web/src/shared/utils/index.ts
Owners: @kurtyoon

feat: Article Item Component
  client-web/src/features/article/article-list/create-button/create-button.style.ts
  client-web/src/features/article/article-list/create-button/create-button.ui.tsx
  client-web/src/features/article/article-list/create-button/index.ts
  client-web/src/features/article/article-list/index.ts
  client-web/src/features/article/article-reading/article-reading.lib.ts
  client-web/src/features/article/article-reading/article-reading.mock.ts
  client-web/src/features/article/article-reading/article-reading.style.ts
  client-web/src/features/article/article-reading/article-reading.ui.tsx
  client-web/src/pages/article-reading/article-reading.style.ts
  client-web/src/pages/article/article.ui.tsx
  client-web/src/shared/layouts/default-layout/default-layout.style.ts
Owners: @kurtyoon

feat: Base Page Layout
  client-web/src/pages/dashboard/dashboard.style.ts
  client-web/src/pages/dashboard/dashboard.ui.tsx
  client-web/src/pages/question/question.style.ts
  client-web/src/pages/question/question.ui.tsx
Owners: @kurtyoon

feat: Question List Component
  client-web/src/features/question/question-list/index.ts
  client-web/src/features/question/question-list/question-item/index.ts
  client-web/src/features/question/question-list/question-item/item-badge/index.ts
  client-web/src/features/question/question-list/question-item/item-badge/item-badge.style.ts
  client-web/src/features/question/question-list/question-item/item-badge/item-badge.ui.tsx
  client-web/src/features/question/question-list/question-item/question-item.lib.ts
  client-web/src/features/question/question-list/question-item/question-item.style.ts
  client-web/src/features/question/question-list/question-item/question-item.ui.tsx
  client-web/src/features/question/question-list/question-list.lib.ts
  client-web/src/features/question/question-list/question-list.mock.ts
  client-web/src/features/question/question-list/question-list.style.ts
  client-web/src/features/question/question-list/question-list.ui.tsx
  client-web/src/pages/question/question.ui.tsx
Owners: @kurtyoon

feat: Add Assets
  client-app/assets/icons/checkbox_active.svg
  client-app/assets/icons/checkbox_inactive.svg
  client-app/assets/icons/drug_background.svg
  client-app/assets/icons/medicine_0.svg
  client-app/assets/icons/medicine_1.svg
  client-app/assets/icons/medicine_2.svg
  client-app/assets/icons/medicine_3.svg
  client-app/assets/icons/medicine_4.svg
  client-app/assets/icons/medicine_5.svg
  client-app/assets/icons/medicine_6.svg
  client-app/assets/icons/timeline_breakfast_active.svg
  client-app/assets/icons/timeline_breakfast_inactive.svg
  client-app/assets/icons/timeline_daily_active.svg
  client-app/assets/icons/timeline_daily_inactive.svg
  client-app/assets/icons/timeline_dinner_active.svg
  client-app/assets/icons/timeline_dinner_inactive.svg
  client-app/assets/icons/timeline_lunch_active.svg
  client-app/assets/icons/timeline_lunch_inactive.svg
  client-app/assets/icons/vitamin_0.svg
  client-app/assets/icons/vitamin_1.svg
Owners: @HyungJoonSon

feat: Timeline Card List/Item View
  client-app/lib/domain/entity/schedule_chunk_state.dart
  client-app/lib/presentation/view/medication_management/widget/timeline_card/component/timeline_card_item_view.dart
  client-app/lib/presentation/view/medication_management/widget/timeline_card/timeline_card_list_view.dart
Owners: @HyungJoonSon

feat: Schedule Card List/Item and Header View
  client-app/lib/domain/entity/schedule_overview_state.dart
  client-app/lib/presentation/view/medication_management/widget/schedule_card/component/schedule_card_item_view.dart
  client-app/lib/presentation/view/medication_management/widget/schedule_card/schedule_card_list_view.dart
  client-app/lib/presentation/view/medication_management/widget/schedule_header/schedule_header_view.dart
Owners: @HyungJoonSon

feat: Medication Management Screen UI/UX
  client-app/lib/presentation/view/medication_management/medication_management_screen.dart
  client-app/pubspec.yaml
Owners: @HyungJoonSon

feat: Add .gitignore and Set Prompt Engineering
  server-llm/.gitignore
  server-llm/persistent
  server-llm/prompt_engineering.ipynb
Owners: @HyungJoonSon

✨ Feature - Home Screen UI/UX (#12)
  client-app/assets/icons/setting.svg
  client-app/assets/icons/stt.svg
  client-app/assets/icons/tts.svg
  client-app/assets/images/white_logo.svg
  client-app/lib/app/config/font_system.dart
  client-app/lib/presentation/view/home/home_screen.dart
  client-app/lib/presentation/view/home/widget/convert_button/convert_button.dart
  client-app/lib/presentation/view/home/widget/user_information/component/my_step_graph_layer.dart
  client-app/lib/presentation/view/home/widget/user_information/component/user_name_layer.dart
  client-app/lib/presentation/view/home/widget/user_information/user_information_view.dart
  client-app/lib/presentation/view/root/root_screen.dart
  client-app/lib/presentation/widget/appbar/text_default_app_bar.dart
Owners: @HyungJoonSon

✨ Feature - Medication Management Screen UI/UX (#15)
  client-app/assets/icons/checkbox_active.svg
  client-app/assets/icons/checkbox_inactive.svg
  client-app/assets/icons/drug_background.svg
  client-app/assets/icons/medicine_0.svg
  client-app/assets/icons/medicine_1.svg
  client-app/assets/icons/medicine_2.svg
  client-app/assets/icons/medicine_3.svg
  client-app/assets/icons/medicine_4.svg
  client-app/assets/icons/medicine_5.svg
  client-app/assets/icons/medicine_6.svg
  client-app/assets/icons/timeline_breakfast_active.svg
  client-app/assets/icons/timeline_breakfast_inactive.svg
  client-app/assets/icons/timeline_daily_active.svg
  client-app/assets/icons/timeline_daily_inactive.svg
  client-app/assets/icons/timeline_dinner_active.svg
  client-app/assets/icons/timeline_dinner_inactive.svg
  client-app/assets/icons/timeline_lunch_active.svg
  client-app/assets/icons/timeline_lunch_inactive.svg
  client-app/assets/icons/vitamin_0.svg
  client-app/assets/icons/vitamin_1.svg
  client-app/lib/domain/entity/schedule_chunk_state.dart
  client-app/lib/domain/entity/schedule_overview_state.dart
  client-app/lib/presentation/view/medication_management/medication_management_screen.dart
  client-app/lib/presentation/view/medication_management/widget/schedule_card/component/schedule_card_item_view.dart
  client-app/lib/presentation/view/medication_management/widget/schedule_card/schedule_card_list_view.dart
  client-app/lib/presentation/view/medication_management/widget/schedule_header/schedule_header_view.dart
  client-app/lib/presentation/view/medication_management/widget/timeline_card/component/timeline_card_item_view.dart
  client-app/lib/presentation/view/medication_management/widget/timeline_card/timeline_card_list_view.dart
  client-app/pubspec.yaml
Owners: @HyungJoonSon

fix: Human Error
  client-app/lib/app/config/color_system.dart
  client-app/lib/presentation/widget/appbar/text_default_app_bar.dart
Owners: @HyungJoonSon

feat: Board Screen UI/UX
  client-app/lib/domain/entity/board_overview_state.dart
  client-app/lib/domain/entity/persistent
  client-app/lib/domain/entity/question_overview_state.dart
  client-app/lib/presentation/view/board/board_screen.dart
  client-app/lib/presentation/view/board/widget/board_card/board_card_list_view.dart
  client-app/lib/presentation/view/board/widget/board_card/component/board_card_item_view.dart
  client-app/lib/presentation/view/board/widget/dialogue_card/component/question_card_item_view.dart
  client-app/lib/presentation/view/board/widget/dialogue_card/question_card_list_view.dart
  client-app/lib/presentation/view/medication_management/medication_management_screen.dart
  client-app/lib/presentation/view/medication_management/widget/schedule_card/component/schedule_card_item_view.dart
  client-app/lib/presentation/view/root/widget/custom_bottom_navigation_bar/custom_bottom_navigation_bar.dart
Owners: @HyungJoonSon

feat: Floating Action Button
  client-app/assets/icons/pill.svg
  client-app/lib/presentation/view/medication_management/medication_management_screen.dart
  client-app/lib/presentation/view/medication_management/widget/schedule_card/component/schedule_card_item_view.dart
  client-app/lib/presentation/view/root/root_screen.dart
  client-app/lib/presentation/view/root/widget/drug_floating_action_button/drug_floating_action_button.dart
  client-app/lib/presentation/view_model/root/root_view_model.dart
Owners: @HyungJoonSon

refactor: Method Naming
  client-app/lib/domain/entity/schedule_overview_state.dart
Owners: @HyungJoonSon

✨ Feature - Board Screen UI/UX and Drug FAB (#17)
  client-app/assets/icons/pill.svg
  client-app/lib/app/config/color_system.dart
  client-app/lib/domain/entity/board_overview_state.dart
  client-app/lib/domain/entity/persistent
  client-app/lib/domain/entity/question_overview_state.dart
  client-app/lib/domain/entity/schedule_overview_state.dart
  client-app/lib/presentation/view/board/board_screen.dart
  client-app/lib/presentation/view/board/widget/board_card/board_card_list_view.dart
  client-app/lib/presentation/view/board/widget/board_card/component/board_card_item_view.dart
  client-app/lib/presentation/view/board/widget/dialogue_card/component/question_card_item_view.dart
  client-app/lib/presentation/view/board/widget/dialogue_card/question_card_list_view.dart
  client-app/lib/presentation/view/medication_management/medication_management_screen.dart
  client-app/lib/presentation/view/medication_management/widget/schedule_card/component/schedule_card_item_view.dart
  client-app/lib/presentation/view/root/root_screen.dart
  client-app/lib/presentation/view/root/widget/custom_bottom_navigation_bar/custom_bottom_navigation_bar.dart
  client-app/lib/presentation/view/root/widget/drug_floating_action_button/drug_floating_action_button.dart
  client-app/lib/presentation/view_model/root/root_view_model.dart
  client-app/lib/presentation/widget/appbar/text_default_app_bar.dart
Owners: @HyungJoonSon

feat: Article Create Page UI Component
  client-web/src/features/article/article-create/article-create-section/article-create-section.style.ts
  client-web/src/features/article/article-create/article-create-section/article-create-section.ui.tsx
  client-web/src/features/article/article-create/article-create-section/article-input-section/article-content-input/article-content-input.style.ts
  client-web/src/features/article/article-create/article-create-section/article-input-section/article-content-input/article-content-input.ui.tsx
  client-web/src/features/article/article-create/article-create-section/article-input-section/article-content-input/index.ts
  client-web/src/features/article/article-create/article-create-section/article-input-section/article-input-section.style.ts
  client-web/src/features/article/article-create/article-create-section/article-input-section/article-input-section.ui.tsx
  client-web/src/features/article/article-create/article-create-section/article-input-section/article-tag-input/article-tag-input.style.ts
  client-web/src/features/article/article-create/article-create-section/article-input-section/article-tag-input/article-tag-input.ui.tsx
  client-web/src/features/article/article-create/article-create-section/article-input-section/article-tag-input/index.ts
  client-web/src/features/article/article-create/article-create-section/article-input-section/article-title-input/article-title-input.style.ts
  client-web/src/features/article/article-create/article-create-section/article-input-section/article-title-input/article-title-input.ui.tsx
  client-web/src/features/article/article-create/article-create-section/article-input-section/article-title-input/index.ts
  client-web/src/features/article/article-create/article-create-section/article-input-section/index.ts
  client-web/src/features/article/article-create/article-create-section/article-preview-section/article-create-tag/article-create-tag.style.ts
  client-web/src/features/article/article-create/article-create-section/article-preview-section/article-create-tag/article-create-tag.ui.tsx
  client-web/src/features/article/article-create/article-create-section/article-preview-section/article-create-tag/index.ts
  client-web/src/features/article/article-create/article-create-section/article-preview-section/article-preview-section.style.ts
  client-web/src/features/article/article-create/article-create-section/article-preview-section/article-preview-section.ui.tsx
  client-web/src/features/article/article-create/article-create-section/article-preview-section/index.ts
  client-web/src/features/article/article-create/article-create-section/index.ts
  client-web/src/features/article/article-create/article-create-top-bar/article-create-top-bar.ui.tsx
  client-web/src/features/article/article-create/index.ts
  client-web/src/features/article/markdown-editor/index.ts
  client-web/src/features/article/markdown-editor/markdown-editor.style.ts
  client-web/src/features/article/markdown-editor/markdown-editor.ui.tsx
  client-web/src/pages/article-writing/article-writing.style.ts
  client-web/src/pages/article-writing/article-writing.ui.tsx
  client-web/src/shared/components/font/heading/head0/index.ts
  client-web/src/shared/components/font/heading/index.ts
Owners: @kurtyoon

feat: Waiting Page UI Component
  client-web/src/features/auth/apis/persistent
  client-web/src/features/auth/index.ts
  client-web/src/features/auth/lib/persistent
  client-web/src/features/auth/services/persistent
  client-web/src/features/auth/store/persistent
  client-web/src/features/auth/waiting/index.ts
  client-web/src/features/auth/waiting/waiting-top-bar/index.ts
  client-web/src/features/auth/waiting/waiting-top-bar/waiting-top-bar.style.ts
  client-web/src/features/auth/waiting/waiting-top-bar/waiting-top-bar.ui.tsx
  client-web/src/pages/waiting/waiting.style.ts
  client-web/src/pages/waiting/waiting.ui.tsx
  client-web/src/shared/assets/icons/Waiting.svg
  client-web/src/shared/components/private-route/private-route.tsx
  client-web/src/shared/lib/index.ts
  client-web/src/shared/lib/use-authenticate.ts
Owners: @kurtyoon

feat: Login Page UI Component
  client-web/src/features/auth/components/index.tsx
  client-web/src/features/auth/components/input/index.tsx
  client-web/src/features/auth/components/input/input-box/index.tsx
  client-web/src/features/auth/components/input/input-box/style.ts
  client-web/src/features/auth/components/input/style.ts
  client-web/src/features/auth/index.ts
  client-web/src/features/auth/login/index.ts
  client-web/src/features/auth/login/login-form/index.ts
  client-web/src/features/auth/login/login-form/login-form.style.ts
  client-web/src/features/auth/login/login-form/login-form.ui.tsx
  client-web/src/features/auth/login/login-header/index.ts
  client-web/src/features/auth/login/login-header/login-header.style.ts
  client-web/src/features/auth/login/login-header/login-header.ui.tsx
  client-web/src/pages/login/login.style.ts
  client-web/src/pages/login/login.ui.tsx
  client-web/src/shared/components/font/heading/head4/head4.style.ts
  client-web/src/shared/components/font/heading/head4/head4.ui.tsx
Owners: @kurtyoon

feat: Register Page UI Component
  client-web/src/features/auth/index.ts
  client-web/src/features/auth/login/index.ts
  client-web/src/features/auth/login/login-header/index.ts
  client-web/src/features/auth/register/index.ts
  client-web/src/features/auth/register/register-form/index.ts
  client-web/src/features/auth/register/register-form/register-form.style.ts
  client-web/src/features/auth/register/register-form/register-form.ui.tsx
  client-web/src/features/auth/register/register-top-bar/index.ts
  client-web/src/features/auth/register/register-top-bar/register-top-bar.style.ts
  client-web/src/features/auth/register/register-top-bar/register-top-bar.ui.tsx
  client-web/src/pages/login/login.style.ts
  client-web/src/pages/login/login.ui.tsx
  client-web/src/pages/register/register.style.ts
  client-web/src/pages/register/register.ui.tsx
Owners: @kurtyoon

feat: STT UI/UX
  client-app/assets/animations/loading.riv
  client-app/assets/icons/lips.svg
  client-app/assets/icons/picture.svg
  client-app/ios/Podfile.lock
  client-app/ios/Runner.xcodeproj/project.pbxproj
  client-app/ios/Runner/Info.plist
  client-app/lib/app/config/app_pages.dart
  client-app/lib/app/config/app_routes.dart
  client-app/lib/domain/entity/speech_to_text_state.dart
  client-app/lib/presentation/speech_to_text_converter/fragment/complete_speech_analysis_fragment.dart
  client-app/lib/presentation/speech_to_text_converter/fragment/loading_speech_analysis_fragment.dart
  client-app/lib/presentation/speech_to_text_converter/fragment/recording_speech_fragment.dart
  client-app/lib/presentation/speech_to_text_converter/speech_to_text_converter_screen.dart
  client-app/lib/presentation/view/home/home_screen.dart
  client-app/lib/presentation/view_model/speech_to_text_converter/speech_to_text_converter_binding.dart
  client-app/lib/presentation/view_model/speech_to_text_converter/speech_to_text_converter_view_model.dart
  client-app/lib/presentation/widget/animation/rive_animation_view.dart
  client-app/lib/presentation/widget/button/primary/primary_fill_button.dart
  client-app/pubspec.yaml
Owners: @HyungJoonSon
