Repository CSID-DGU/2024-2-DSCD-talkingPotato-1, changes with the owners that .github/CODEOWNERS names for each.
All owners: @HyungJoonSon, @kurtyoon, @tkdwns414

.github/CODEOWNERS:

/client-app/ @HyungJoonSon

/client-web/ @kurtyoon

/server-api/ @tkdwns414 @HyungJoonSon @kurtyoon

/server-llm/ @HyungJoonSon

✨ Feature - Generation API (#74)
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/domain/mysql/Article.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/domain/mysql/Comment.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/config/SchedulerConfig.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/listener/GenerationListener.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/listener/persistent
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/scheduler/UpdaterScheduler.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/validator/TimeValueValidator.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/domain/mysql/Medication.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/domain/mysql/Schedule.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/domain/mysql/Answer.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/domain/mysql/Question.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/event/CreateQuestionEvent.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/service/CreateAnswerService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/service/CreateQuestionService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/service/DeleteQuestionService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/security/domain/mysql/Account.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/security/service/AuthenticateUserNameService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/tag/domain/mysql/ArticleTag.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/tag/domain/mysql/Tag.java
  server-llm/correction/service.py
  server-llm/correction/views.py
  server-llm/generation/service.py
  server-llm/generation/views.py
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

fix: Content Length
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/domain/mysql/Answer.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

feat: Length Prompt
  server-llm/generation/service.py
Owners: @HyungJoonSon

fix: Sign Up Logic
  client-app/lib/presentation/view_model/login/login_view_model.dart
  client-app/lib/presentation/view_model/sign_up/sign_up_binding.dart
  client-app/lib/presentation/view_model/sign_up/sign_up_view_model.dart
Owners: @HyungJoonSon

🚑 Hot Fix - Data Length Error & Sign Up Logic Mistake (#75)
  client-app/lib/presentation/view_model/login/login_view_model.dart
  client-app/lib/presentation/view_model/sign_up/sign_up_binding.dart
  client-app/lib/presentation/view_model/sign_up/sign_up_view_model.dart
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/domain/mysql/Answer.java
  server-llm/generation/service.py
Owners: @HyungJoonSon, @tkdwns414, @kurtyoon

fix: UI Error In Answer Default Item View
  client-app/lib/presentation/view/question/detail/widget/answer_card/component/answer_default_item_view.dart
Owners: @HyungJoonSon

fix: Prompt Korean Error
  server-llm/generation/service.py
Owners: @HyungJoonSon

🚑 Hot Fix - Korean Prompt Error & UI Mistake (#76)
  client-app/lib/presentation/view/question/detail/widget/answer_card/component/answer_default_item_view.dart
  server-llm/generation/service.py
Owners: @HyungJoonSon

fix: Article Item View UI Error
  client-app/lib/presentation/widget/article/brief/article_brief_default_item_view.dart
  client-app/lib/presentation/widget/article/summary/article_summary_default_item_view.dart
  client-app/pubspec.yaml
Owners: @HyungJoonSon

feat: Answer Push Notification
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/listener/GenerationListener.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/listener/NotificationListener.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/notification/service/NotificationService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/event/CreateAnswerEvent.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/repository/mysql/QuestionRepository.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/service/CreateAnswerService.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

🚑 Hot Fix - Article UI Error & Push Notification (#77)
  client-app/lib/presentation/widget/article/brief/article_brief_default_item_view.dart
  client-app/lib/presentation/widget/article/summary/article_summary_default_item_view.dart
  client-app/pubspec.yaml
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/listener/GenerationListener.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/listener/NotificationListener.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/notification/service/NotificationService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/event/CreateAnswerEvent.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/repository/mysql/QuestionRepository.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/service/CreateAnswerService.java
Owners: @HyungJoonSon, @tkdwns414, @kurtyoon
