Repository CSID-DGU/2024-2-DSCD-talkingPotato-1, changes with the owners that .github/CODEOWNERS names for each.
All owners: @HyungJoonSon, @kurtyoon, @tkdwns414

feat: Medication Screen UI/UX & API Connection
  client-app/lib/data/provider/schedule/schedule_remote_provider.dart
  client-app/lib/data/provider/schedule/schedule_remote_provider_impl.dart
  client-app/lib/data/repository/schedule/schedule_repository_impl.dart
  client-app/lib/domain/condition/schedule/create_schedule_condition.dart
  client-app/lib/domain/condition/schedule/delete_schedule_condition.dart
  client-app/lib/domain/entity/schedule/schedule_detail_state.dart
  client-app/lib/domain/repository/schedule/schedule_repository.dart
  client-app/lib/domain/usecase/schedule/create_schedule_use_case.dart
  client-app/lib/domain/usecase/schedule/delete_schedule_use_case.dart
  client-app/lib/presentation/view/medication/default/medication_screen.dart
  client-app/lib/presentation/view/medication/default/widget/schedule_card/schedule_card_list_view.dart
  client-app/lib/presentation/view/medication/default/widget/schedule_header/schedule_header_view.dart
  client-app/lib/presentation/view_model/medication/default/medication_binding.dart
  client-app/lib/presentation/view_model/medication/default/medication_view_model.dart
Owners: @HyungJoonSon

feat: STT/TTS API Connection
  client-app/lib/app/config/app_dependence.dart
  client-app/lib/data/provider/analysis/image_analysis_remote_provider.dart
  client-app/lib/data/provider/analysis/image_analysis_remote_provider_impl.dart
  client-app/lib/data/provider/analysis/language_analysis_remote_provider.dart
  client-app/lib/data/provider/analysis/language_analysis_remote_provider_impl.dart
  client-app/lib/data/repository/analysis/analysis_repository_impl.dart
  client-app/lib/domain/condition/analysis/analysis_document_condition.dart
  client-app/lib/domain/condition/analysis/analysis_speech_condition.dart
  client-app/lib/domain/repository/analysis/analysis_repository.dart
  client-app/lib/domain/usecase/anlaysis/analysis_document_use_case.dart
  client-app/lib/domain/usecase/anlaysis/analysis_drug_bag_use_case.dart
  client-app/lib/domain/usecase/anlaysis/analysis_speech_use_case.dart
  client-app/lib/presentation/view_model/medication/adding/medication_adding_view_model.dart
  client-app/lib/presentation/view_model/speech_to_text_converter/speech_to_text_converter_binding.dart
  client-app/lib/presentation/view_model/speech_to_text_converter/speech_to_text_converter_view_model.dart
  client-app/lib/presentation/view_model/text_to_speech_converter/text_to_speech_converter_binding.dart
  client-app/lib/presentation/view_model/text_to_speech_converter/text_to_speech_converter_view_model.dart
Owners: @HyungJoonSon

feat: OCR API Connection
  client-app/lib/presentation/view_model/medication/adding/medication_adding_binding.dart
  client-app/lib/presentation/view_model/medication/adding/medication_adding_view_model.dart
Owners: @HyungJoonSon

fix: axios lib error
  client-web/src/shared/lib/axios/axios.lib.ts
Owners: @kurtyoon

fix: Login Error
  client-web/src/entities/auth/auth.service.ts
Owners: @kurtyoon

fix: Cookie Error
  client-web/src/app/styles/globals.css
  client-web/src/entities/auth/auth.service.ts
  client-web/src/features/auth/login/login.ui.tsx
  client-web/src/features/auth/logout/logout.ui.tsx
  client-web/src/shared/lib/auth/use-authenticate.ts
Owners: @kurtyoon

feat: Medication ADD Screen UI/UX & API Connection
  client-app/assets/icons/radius_plus.svg
  client-app/assets/images/default_drug_image.svg
  client-app/lib/app/config/app_pages.dart
  client-app/lib/app/config/app_routes.dart
  client-app/lib/data/provider/medication/medication_remote_provider.dart
  client-app/lib/data/provider/medication/medication_remote_provider_impl.dart
  client-app/lib/data/repository/drug/drug_repository_impl.dart
  client-app/lib/data/repository/medication/medication_repository_impl.dart
  client-app/lib/domain/condition/drug/read_drug_brief_list_condition.dart
  client-app/lib/domain/condition/medication/create_medication_list_condition.dart
  client-app/lib/presentation/view/home/widget/user_information/user_information_view.dart
  client-app/lib/presentation/view/medication/adding/fragment/finish_medication_fragment.dart
  client-app/lib/presentation/view/medication/adding/fragment/loading_drug_bag_analysis_fragment.dart
  client-app/lib/presentation/view/medication/adding/fragment/modifying_medication_fragment.dart
  client-app/lib/presentation/view/medication/adding/fragment/searching_drug_fragment.dart
  client-app/lib/presentation/view/medication/adding/fragment/selecting_drug_bag_picture_fragment.dart
  client-app/lib/presentation/view/medication/adding/medication_adding_screen.dart
  client-app/lib/presentation/view/medication/adding/widget/drug_brief_card/drug_brief_card_list_view.dart
  client-app/lib/presentation/view/medication/adding/widget/drug_search_term_field/drug_search_term_field.dart
  client-app/lib/presentation/view/medication/adding/widget/medication_card_for_adding/component/adding_icon_button.dart
  client-app/lib/presentation/view/medication/adding/widget/medication_card_for_adding/medication_card_for_adding_view.dart
  client-app/lib/presentation/view/medication/adding/widget/medication_indicator_for_adding/medication_indicator_for_adding_view.dart
  client-app/lib/presentation/view/medication/default/medication_screen.dart
  client-app/lib/presentation/view/medication/default/widget/schedule_card/component/schedule_card_item_view.dart
  client-app/lib/presentation/view/medication/default/widget/schedule_card/schedule_card_list_view.dart
  client-app/lib/presentation/view/medication/default/widget/schedule_header/schedule_header_view.dart
  client-app/lib/presentation/view/medication/shopping_cart/medication_shopping_cart_screen.dart
  client-app/lib/presentation/view_model/home/home_view_model.dart
  client-app/lib/presentation/view_model/medication/adding/medication_adding_binding.dart
  client-app/lib/presentation/view_model/medication/adding/medication_adding_view_model.dart
  client-app/lib/presentation/view_model/medication/shopping_cart/medication_shopping_cart_binding.dart
  client-app/lib/presentation/view_model/medication/shopping_cart/medication_shopping_cart_view_model.dart
  client-app/lib/presentation/view_model/speech_to_text_converter/speech_to_text_converter_view_model.dart
  client-app/lib/presentation/widget/drug/brief/drug_brief_default_item_view.dart
  client-app/lib/presentation/widget/drug/summary/drug_summary_default_item_view.dart
  client-app/lib/presentation/widget/medication/basic/medication_basic_default_item_view.dart
Owners: @HyungJoonSon

feat: Board Screen UI/UX
  client-app/lib/presentation/view/board/board_screen.dart
  client-app/lib/presentation/view/medication/default/medication_screen.dart
Owners: @HyungJoonSon

refactor: Read Article List API
  server-api/build.gradle
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/dto/response/ReadArticleListDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/repository/mysql/custom/ArticleRepositoryCustomImpl.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/service/ReadArticleListService.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

refactor: Update Medication API
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/service/UpdateMedicationService.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

🎨 Refactor - Update Medication API, Read Article List API (#53)
  server-api/build.gradle
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/dto/response/ReadArticleListDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/repository/mysql/custom/ArticleRepositoryCustomImpl.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/service/ReadArticleListService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/service/UpdateMedicationService.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

fix: Read Article List API Error
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/service/ReadArticleListService.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

🐛 Fix - Read Article List API Error (#55)
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/service/ReadArticleListService.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

feat: Splash Screen
  client-app/ios/Podfile.lock
  client-app/lib/app/config/app_pages.dart
  client-app/lib/app/middleware/persistent
  client-app/lib/main_app.dart
  client-app/lib/presentation/view/board/board_screen.dart
  client-app/lib/presentation/view/medication/default/widget/timeline_card/component/timeline_card_item_view.dart
  client-app/lib/presentation/view/splash/splash_screen.dart
  client-app/lib/presentation/view_model/splash/splash_binding.dart
  client-app/lib/presentation/view_model/splash/splash_view_model.dart
  client-app/lib/presentation/widget/common/dialog/confirm_dialog.dart
  client-app/pubspec.yaml
Owners: @HyungJoonSon

hotfix: Medication, Schedule Mapping with Cascade
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/domain/mysql/Medication.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

🚑 HotFix - Medication, Schedule Mapping with Cascade (#56)
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/domain/mysql/Medication.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

feat: Notification Util
  client-app/lib/main.dart
  client-app/lib/presentation/view/article/detail/article_detail_screen.dart
  client-app/lib/presentation/view/comment/adding/comment_adding_screen.dart
  client-app/lib/presentation/view/comment/adding/widget/comment_input_field/comment_input_field.dart
  client-app/lib/presentation/view/medication/editing/medication_editing_screen.dart
  client-app/lib/presentation/view/medication/editing/widget/medication_content_for_editing/medication_content_for_editing_view.dart
  client-app/lib/presentation/view/medication/editing/widget/medication_indicator_for_editing/medication_indicator_for_editing_view.dart
  client-app/lib/presentation/view/question/adding/question_adding_screen.dart
  client-app/lib/presentation/view/question/adding/widget/question_input_field/question_input_field.dart
  client-app/lib/presentation/view/question/detail/question_detail_screen.dart
  client-app/lib/presentation/view_model/medication/editing/medication_editing_view_model.dart
  client-app/lib/presentation/view_model/question/detail/question_detail_view_model.dart
Owners: @HyungJoonSon

chore: Info Plist
  client-app/ios/Runner/Info.plist
Owners: @HyungJoonSon

feat: NotificationService with FCM
  server-api/build.gradle
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/config/FirebaseConfig.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/notification/service/NotificationService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/repository/mysql/UserRepository.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

feat: sendNotification API for presentation
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/notification/controller/NotificationController.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/notification/service/NotificationService.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

fix: Typo Error & OCR API Connection
  client-app/lib/domain/usecase/drug_bag/analysis_drug_bag_use_case.dart
  client-app/lib/presentation/view/board/board_screen.dart
  client-app/lib/presentation/view/comment/adding/widget/comment_input_field/comment_input_field.dart
  client-app/lib/presentation/view/question/adding/widget/question_input_field/question_input_field.dart
  client-app/lib/presentation/view_model/medication/adding/medication_adding_binding.dart
  client-app/lib/presentation/view_model/medication/adding/medication_adding_view_model.dart
  client-app/lib/presentation/widget/medication/basic/medication_basic_default_item_view.dart
Owners: @HyungJoonSon

chore: Version UP 1.0.0 -> 1.0.1
  client-app/pubspec.yaml
Owners: @HyungJoonSon

🚑 Hot Fix - Typo Error & OCR API Connection (#58)
  client-app/lib/domain/usecase/drug_bag/analysis_drug_bag_use_case.dart
  client-app/lib/presentation/view/board/board_screen.dart
  client-app/lib/presentation/view/comment/adding/widget/comment_input_field/comment_input_field.dart
  client-app/lib/presentation/view/question/adding/widget/question_input_field/question_input_field.dart
  client-app/lib/presentation/view_model/medication/adding/medication_adding_binding.dart
  client-app/lib/presentation/view_model/medication/adding/medication_adding_view_model.dart
  client-app/lib/presentation/widget/medication/basic/medication_basic_default_item_view.dart
  client-app/pubspec.yaml
Owners: @HyungJoonSon

✨ Feature - FCM Notification (#57)
  server-api/build.gradle
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/config/FirebaseConfig.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/notification/controller/NotificationController.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/notification/service/NotificationService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/repository/mysql/UserRepository.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

chore: Django Project Init Setting
  server-llm/.gitignore
  server-llm/manage.py
  server-llm/wooahan/__init__.py
  server-llm/wooahan/asgi.py
  server-llm/wooahan/settings.py
  server-llm/wooahan/urls.py
  server-llm/wooahan/wsgi.py
Owners: @HyungJoonSon

feat: Correction API
  server-llm/correction/__init__.py
  server-llm/correction/admin.py
  server-llm/correction/apps.py
  server-llm/correction/migrations/__init__.py
  server-llm/correction/models.py
  server-llm/correction/service.py
  server-llm/correction/tests.py
  server-llm/correction/views.py
Owners: @HyungJoonSon

feat: Generation API Init Setting
  server-llm/generation/__init__.py
  server-llm/generation/admin.py
  server-llm/generation/apps.py
  server-llm/generation/migrations/__init__.py
  server-llm/generation/models.py
  server-llm/generation/tests.py
  server-llm/generation/views.py
Owners: @HyungJoonSon

chore: Docker Setting
  server-llm/.dockerignore
  server-llm/Dockerfile
  server-llm/requirements.txt
Owners: @HyungJoonSon

fix: URL Path Error
  server-llm/.gitignore
  server-llm/wooahan/urls.py
Owners: @HyungJoonSon

✨ Feature - STT, TTS Correction API (#59)
  server-llm/.dockerignore
  server-llm/.gitignore
  server-llm/Dockerfile
  server-llm/correction/__init__.py
  server-llm/correction/admin.py
  server-llm/correction/apps.py
  server-llm/correction/migrations/__init__.py
  server-llm/correction/models.py
  server-llm/correction/service.py
  server-llm/correction/tests.py
  server-llm/correction/views.py
  server-llm/generation/__init__.py
  server-llm/generation/admin.py
  server-llm/generation/apps.py
  server-llm/generation/migrations/__init__.py
  server-llm/generation/models.py
  server-llm/generation/tests.py
  server-llm/generation/views.py
  server-llm/manage.py
  server-llm/prompt_engineering.ipynb
  server-llm/requirements.txt
  server-llm/wooahan/__init__.py
  server-llm/wooahan/asgi.py
  server-llm/wooahan/settings.py
  server-llm/wooahan/urls.py
  server-llm/wooahan/wsgi.py
Owners: @HyungJoonSon

fix: API Server Yaml
  .github/workflows/api-server.yaml
Owners: none

🐛 Fix - API Server CI/CD Using Github Action (#61)
  .github/workflows/api-server.yaml
Owners: none

fix: Dto Error
  server-llm/correction/views.py
Owners: @HyungJoonSon

refactor: Divide API
  client-app/lib/app/config/app_dependence.dart
  client-app/lib/data/provider/analysis/analysis_remote_provider.dart
  client-app/lib/data/provider/analysis/analysis_remote_provider_impl.dart
  client-app/lib/data/provider/analysis/image_analysis_remote_provider.dart
  client-app/lib/data/provider/analysis/language_analysis_remote_provider.dart
  client-app/lib/data/provider/analysis/language_analysis_remote_provider_impl.dart
  client-app/lib/data/repository/analysis/analysis_repository_impl.dart
  client-app/lib/domain/condition/analysis/analysis_speech_condition.dart
  client-app/lib/domain/repository/analysis/analysis_repository.dart
  client-app/lib/domain/usecase/anlaysis/analysis_document_use_case.dart
  client-app/lib/domain/usecase/anlaysis/analysis_speech_use_case.dart
Owners: @HyungJoonSon

feat: STT API Connection
  client-app/lib/presentation/view/speech_to_text_converter/fragment/complete_speech_analysis_fragment.dart
  client-app/lib/presentation/view_model/speech_to_text_converter/speech_to_text_converter_binding.dart
  client-app/lib/presentation/view_model/speech_to_text_converter/speech_to_text_converter_view_model.dart
Owners: @HyungJoonSon

feat: Image -> Text, Text Correction API Connection
  client-app/lib/data/provider/correction/correction_remote_provider.dart
  client-app/lib/data/provider/correction/correction_remote_provider_impl.dart
  client-app/lib/data/repository/correction/correction_repository_impl.dart
  client-app/lib/domain/condition/correction/correct_document_text_condition.dart
  client-app/lib/domain/condition/correction/correct_speech_text_condition.dart
  client-app/lib/domain/repository/correction/correction_repository.dart
  client-app/lib/domain/usecase/correction/correct_document_text_use_case.dart
  client-app/lib/domain/usecase/correction/correct_speech_text_use_case.dart
  client-app/lib/presentation/view/text_to_speech_converter/fragment/complete_text_analysis_fragment.dart
  client-app/lib/presentation/view_model/text_to_speech_converter/text_to_speech_converter_binding.dart
  client-app/lib/presentation/view_model/text_to_speech_converter/text_to_speech_converter_view_model.dart
Owners: @HyungJoonSon

feat: Version 1.0.1 -> 1.0.2
  client-app/ios/Runner/Info.plist
  client-app/pubspec.yaml
Owners: @HyungJoonSon

✨ Feature - STT/TTS API Connection (#63)
  client-app/ios/Runner/Info.plist
  client-app/lib/app/config/app_dependence.dart
  client-app/lib/data/provider/analysis/analysis_remote_provider.dart
  client-app/lib/data/provider/analysis/analysis_remote_provider_impl.dart
  client-app/lib/data/provider/analysis/image_analysis_remote_provider.dart
  client-app/lib/data/provider/analysis/language_analysis_remote_provider.dart
  client-app/lib/data/provider/analysis/language_analysis_remote_provider_impl.dart
  client-app/lib/data/provider/correction/correction_remote_provider.dart
  client-app/lib/data/provider/correction/correction_remote_provider_impl.dart
  client-app/lib/data/repository/analysis/analysis_repository_impl.dart
  client-app/lib/data/repository/correction/correction_repository_impl.dart
  client-app/lib/domain/condition/analysis/analysis_speech_condition.dart
  client-app/lib/domain/condition/correction/correct_document_text_condition.dart
  client-app/lib/domain/condition/correction/correct_speech_text_condition.dart
  client-app/lib/domain/repository/analysis/analysis_repository.dart
  client-app/lib/domain/repository/correction/correction_repository.dart
  client-app/lib/domain/usecase/anlaysis/analysis_document_use_case.dart
  client-app/lib/domain/usecase/anlaysis/analysis_speech_use_case.dart
  client-app/lib/domain/usecase/correction/correct_document_text_use_case.dart
  client-app/lib/domain/usecase/correction/correct_speech_text_use_case.dart
  client-app/lib/presentation/view/speech_to_text_converter/fragment/complete_speech_analysis_fragment.dart
  client-app/lib/presentation/view/text_to_speech_converter/fragment/complete_text_analysis_fragment.dart
  client-app/lib/presentation/view_model/speech_to_text_converter/speech_to_text_converter_binding.dart
  client-app/lib/presentation/view_model/speech_to_text_converter/speech_to_text_converter_view_model.dart
  client-app/lib/presentation/view_model/text_to_speech_converter/text_to_speech_converter_binding.dart
  client-app/lib/presentation/view_model/text_to_speech_converter/text_to_speech_converter_view_model.dart
  client-app/pubspec.yaml
  server-llm/correction/views.py
Owners: @HyungJoonSon

feat: STT Feature In Questoin Adding Screen
  client-app/lib/domain/usecase/question/create_question_use_case.dart
  client-app/lib/presentation/view/question/adding/question_adding_screen.dart
  client-app/lib/presentation/view/question/adding/widget/question_input_field/question_input_field.dart
  client-app/lib/presentation/view/question/adding/widget/question_speech_button/question_speech_button.dart
  client-app/lib/presentation/view/question/detail/widget/answer_card/component/answer_default_item_view.dart
  client-app/lib/presentation/view_model/question/adding/question_adding_view_model.dart
  client-app/lib/presentation/widget/article/summary/article_summary_default_item_view.dart
  client-app/lib/presentation/widget/common/text_input/custom_text_form_field.dart
Owners: @HyungJoonSon

fix: Searching Term Error
  client-app/lib/domain/usecase/comment/create_article_comment_use_case.dart
  client-app/lib/presentation/view/article/searching/article_searching_screen.dart
  client-app/lib/presentation/view/article/searching/widget/article_result/article_result_view.dart
  client-app/lib/presentation/view/article/searching/widget/article_search_term_field/article_search_term_field.dart
  client-app/lib/presentation/view/comment/adding/comment_adding_screen.dart
  client-app/lib/presentation/view/comment/adding/widget/comment_input_field/comment_input_field.dart
  client-app/lib/presentation/view/comment/adding/widget/comment_speech_button/comment_speech_button.dart
  client-app/lib/presentation/view/question/searching/question_searching_screen.dart
  client-app/lib/presentation/view/question/searching/widget/question_result/question_result_view.dart
  client-app/lib/presentation/view/question/searching/widget/question_search_term_field/question_search_term_field.dart
  client-app/lib/presentation/view_model/article/searching/article_searching_view_model.dart
  client-app/lib/presentation/view_model/comment/adding/comment_adding_view_model.dart
  client-app/lib/presentation/view_model/question/searching/question_searching_view_model.dart
  client-app/lib/presentation/widget/article/summary/article_summary_default_item_view.dart
Owners: @HyungJoonSon

.github/CODEOWNERS:

/client-app/ @HyungJoonSon

/client-web/ @kurtyoon

/server-api/ @tkdwns414 @HyungJoonSon @kurtyoon

/server-llm/ @HyungJoonSon
