Repository CSID-DGU/2024-2-DSCD-talkingPotato-1, changes with the owners that .github/CODEOWNERS names for each.
All owners: @HyungJoonSon, @kurtyoon, @tkdwns414

chore: CICD Test
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/security/controller/command/AuthCommandController.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

🚑 Hot Fix - CICD Branch Error (#37)
  .github/workflows/api-server.yaml
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/security/controller/command/AuthCommandController.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

fix: wrong sql
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/repository/mysql/AnswerRepository.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/repository/mysql/QuestionRepository.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/service/ReadAnswerListService.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

feat: search in question list
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/controller/query/QuestionQueryV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/dto/projection/ReadQuestionListProjection.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/dto/response/ReadQuestionListDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/repository/mysql/QuestionRepository.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/repository/mysql/custom/QuestionRepositoryCustom.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/repository/mysql/custom/QuestionRepositoryCustomImpl.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/service/ReadQuestionListService.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

fix: Mono Repo DockerFile
  server-api/Dockerfile
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

fix: CICD YAML
  .github/workflows/api-server.yaml
Owners: none

fix: Directory Path Error
  .github/workflows/api-server.yaml
Owners: none

fix: divide query cause of pageable with fetch join
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/dto/projection/ReadArticleListProjection.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/dto/response/ReadArticleListDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/repository/mysql/custom/ArticleRepositoryCustom.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/repository/mysql/custom/ArticleRepositoryCustomImpl.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/service/ReadArticleListService.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

🚑 Hot Fix - CICD Path Error (#38)
  .github/workflows/api-server.yaml
  server-api/Dockerfile
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

fix: remove unnecessary variables, import
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/repository/mysql/custom/ArticleRepositoryCustomImpl.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/service/ReadArticleListService.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

fix: Git Action Yml
  .github/workflows/api-server.yaml
Owners: none

feat: Docker Path
  server-api/Dockerfile
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

fix: Docker Path Error
  .github/workflows/api-server.yaml
  server-api/Dockerfile
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

fix: If Condition In Yaml
  .github/workflows/api-server.yaml
Owners: none

🐛 Fix - Git Action Yaml (#41)
  .github/workflows/api-server.yaml
Owners: none

✨ Feature - Article, Question Search (#39)
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/controller/query/ArticleQueryV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/dto/projection/ReadArticleListProjection.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/dto/response/ReadArticleListDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/repository/mysql/ArticleRepository.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/repository/mysql/custom/ArticleRepositoryCustom.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/repository/mysql/custom/ArticleRepositoryCustomImpl.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/service/ReadArticleListService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/repository/contributor/CustomFunctionContributor.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/controller/query/QuestionQueryV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/dto/projection/ReadQuestionListProjection.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/dto/response/ReadQuestionListDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/repository/mysql/AnswerRepository.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/repository/mysql/QuestionRepository.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/repository/mysql/custom/QuestionRepositoryCustom.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/repository/mysql/custom/QuestionRepositoryCustomImpl.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/service/ReadAnswerListService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/service/ReadQuestionListService.java
  server-api/src/main/resources/META-INF/services/org.hibernate.boot.model.FunctionContributor
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

fix: Yaml Path Error
  .github/workflows/api-server.yaml
Owners: none

fix: Exception Handler
  server-api/bin/main/META-INF/services/org.hibernate.boot.model.FunctionContributor
  server-api/bin/main/application.yml
  server-api/bin/main/org/dongguk/dscd/wooahan/api/core/listener/persistent
  server-api/bin/main/org/dongguk/dscd/wooahan/api/expert/controller/.persistent
  server-api/bin/main/org/dongguk/dscd/wooahan/api/expert/domain/type/.persistent
  server-api/bin/main/org/dongguk/dscd/wooahan/api/expert/dto/.persistent
  server-api/bin/main/org/dongguk/dscd/wooahan/api/expert/service/.persistent
  server-api/bin/main/org/dongguk/dscd/wooahan/api/expert/usecase/.persistent
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/controller/command/ArticleCommandV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/exception/handler/HttpGlobalExceptionHandler.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

🐛 Fix - Exception Handler Missing Error (#44)
  .github/workflows/api-server.yaml
  server-api/bin/main/META-INF/services/org.hibernate.boot.model.FunctionContributor
  server-api/bin/main/application.yml
  server-api/bin/main/org/dongguk/dscd/wooahan/api/core/listener/persistent
  server-api/bin/main/org/dongguk/dscd/wooahan/api/expert/controller/.persistent
  server-api/bin/main/org/dongguk/dscd/wooahan/api/expert/domain/type/.persistent
  server-api/bin/main/org/dongguk/dscd/wooahan/api/expert/dto/.persistent
  server-api/bin/main/org/dongguk/dscd/wooahan/api/expert/service/.persistent
  server-api/bin/main/org/dongguk/dscd/wooahan/api/expert/usecase/.persistent
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/controller/command/ArticleCommandV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/exception/handler/HttpGlobalExceptionHandler.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

feat: readUserQuestionList API
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/controller/query/QuestionQueryV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/dto/projection/ReadUserQuestionListProjection.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/dto/response/ReadUserQuestionListDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/repository/mysql/custom/QuestionRepositoryCustom.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/repository/mysql/custom/QuestionRepositoryCustomImpl.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/service/ReadUserQuestionListService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/usecase/ReadUserQuestionListUseCase.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

feat: readUserMedicationList API
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/controller/query/MedicationQueryV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/dto/response/ReadUserMedicationListDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/service/ReadUserMedicationListService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/usecase/ReadUserMedicationListUseCase.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

feat: Login Screen
  client-app/lib/presentation/view/login/login_screen.dart
  client-app/lib/presentation/view_model/login/login_binding.dart
  client-app/lib/presentation/view_model/login/login_view_model.dart
Owners: @HyungJoonSon

feat: Email Validator In Sign Up
  client-app/lib/app/config/app_pages.dart
  client-app/lib/app/utility/validator_util.dart
  client-app/lib/core/wrapper/response_wrapper.dart
  client-app/lib/presentation/view/login/login_screen.dart
  client-app/lib/presentation/view/sign_up/fragment/email_input_fragment.dart
  client-app/lib/presentation/view/sign_up/sign_up_screen.dart
  client-app/lib/presentation/view_model/sign_up/sign_up_binding.dart
  client-app/lib/presentation/view_model/sign_up/sign_up_view_model.dart
Owners: @HyungJoonSon

fix: Json Property Error
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/dto/ResponseDto.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

🚑 Hot Fix - Json Property Mistake (#46)
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/core/dto/ResponseDto.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

feat: Sign Up Screen
  client-app/lib/core/wrapper/response_wrapper.dart
  client-app/lib/data/provider/auth/auth_provider_impl.dart
  client-app/lib/presentation/view/sign_up/fragment/finish_sign_up_fragment.dart
  client-app/lib/presentation/view/sign_up/fragment/nickname_input_fragment.dart
  client-app/lib/presentation/view/sign_up/fragment/password_input_fragment.dart
  client-app/lib/presentation/view/sign_up/sign_up_screen.dart
Owners: @HyungJoonSon

feat: Setting Screen UI/UX & API Connection
  client-app/assets/icons/complete.svg
  client-app/lib/app/config/app_pages.dart
  client-app/lib/app/config/app_routes.dart
  client-app/lib/data/provider/user/user_remote_provider_impl.dart
  client-app/lib/domain/usecase/schedule/read_schedule_detail_list_use_case.dart
  client-app/lib/domain/usecase/schedule/read_schedule_summary_list_use_case.dart
  client-app/lib/domain/usecase/user/update_notification_time_in_user_use_case.dart
  client-app/lib/presentation/view/home/home_screen.dart
  client-app/lib/presentation/view/login/login_screen.dart
  client-app/lib/presentation/view/setting/bottom_sheet/time_picker_bottom_sheet.dart
  client-app/lib/presentation/view/setting/setting_screen.dart
  client-app/lib/presentation/view/setting/widget/text_section/text_section_view.dart
  client-app/lib/presentation/view/setting/widget/time_section/time_section_view.dart
  client-app/lib/presentation/view/setting/widget/toggle_section/toggle_section_view.dart
  client-app/lib/presentation/view/sign_up/fragment/finish_sign_up_fragment.dart
  client-app/lib/presentation/view_model/setting/setting_binding.dart
  client-app/lib/presentation/view_model/setting/setting_view_model.dart
Owners: @HyungJoonSon

feat: API Conneciton
  client-app/lib/data/provider/article/article_remote_provider_impl.dart
  client-app/lib/data/provider/question/question_remote_provider_impl.dart
  client-app/lib/data/repository/question/question_repository_impl.dart
  client-app/lib/domain/usecase/article/read_article_brief_list_use_case.dart
  client-app/lib/domain/usecase/article/read_article_detail_use_case.dart
  client-app/lib/domain/usecase/article/read_article_summary_list_use_case.dart
  client-app/lib/domain/usecase/question/read_question_brief_list_use_case.dart
  client-app/lib/domain/usecase/question/read_question_detail_use_case.dart
  client-app/lib/domain/usecase/question/read_question_summary_list_use_case.dart
  client-app/lib/presentation/view/board/board_screen.dart
  client-app/lib/presentation/view/home/home_screen.dart
  client-app/lib/presentation/view/home/widget/convert_button/convert_button.dart
  client-app/lib/presentation/view/home/widget/user_information/component/my_step_graph_layer.dart
Owners: @HyungJoonSon

feat: Question Create, Read API Connection
  client-app/lib/data/provider/answer/answer_remote_provider_impl.dart
  client-app/lib/data/provider/question/question_remote_provider.dart
  client-app/lib/data/provider/question/question_remote_provider_impl.dart
  client-app/lib/data/repository/question/question_repository_impl.dart
  client-app/lib/domain/condition/create_question_condition.dart
  client-app/lib/domain/entity/question/question_detail_state.dart
  client-app/lib/domain/entity/question/question_summary_state.dart
  client-app/lib/domain/repository/question/question_repository.dart
  client-app/lib/domain/usecase/answer/read_question_answer_list_use_case.dart
  client-app/lib/domain/usecase/question/create_question_use_case.dart
  client-app/lib/presentation/view/question/adding/question_adding_screen.dart
  client-app/lib/presentation/view/question/adding/widget/question_input_field/question_input_field.dart
  client-app/lib/presentation/view_model/board/board_view_model.dart
  client-app/lib/presentation/view_model/question/adding/question_adding_binding.dart
  client-app/lib/presentation/view_model/question/adding/question_adding_view_model.dart
  client-app/lib/presentation/view_model/question/default/question_view_model.dart
  client-app/lib/presentation/view_model/question/detail/question_detail_view_model.dart
  client-app/lib/presentation/view_model/question/searching/question_searching_view_model.dart
  client-app/lib/presentation/widget/common/text_input/custom_text_form_field.dart
Owners: @HyungJoonSon

feat: Question EDA
  client-app/lib/app/config/app_dependence.dart
  client-app/lib/app/utility/date_time_util.dart
  client-app/lib/core/mediator/base_mediator.dart
  client-app/lib/data/provider/answer/answer_remote_provider_impl.dart
  client-app/lib/data/provider/question/question_remote_provider.dart
  client-app/lib/data/provider/question/question_remote_provider_impl.dart
  client-app/lib/data/repository/answer/answer_repository_impl.dart
  client-app/lib/data/repository/question/question_repository_impl.dart
  client-app/lib/domain/condition/question/create_question_condition.dart
  client-app/lib/domain/condition/question/delete_question_condition.dart
  client-app/lib/domain/entity/question/question_detail_state.dart
  client-app/lib/domain/repository/question/question_repository.dart
  client-app/lib/domain/usecase/question/delete_question_use_case.dart
  client-app/lib/domain/usecase/question/read_question_detail_use_case.dart
  client-app/lib/presentation/view/board/board_screen.dart
  client-app/lib/presentation/view/question/default/question_screen.dart
  client-app/lib/presentation/view/question/detail/question_detail_screen.dart
  client-app/lib/presentation/view/question/detail/widget/question_detail/question_detail_view.dart
  client-app/lib/presentation/view_model/board/board_view_model.dart
  client-app/lib/presentation/view_model/question/adding/question_adding_view_model.dart
  client-app/lib/presentation/view_model/question/default/question_view_model.dart
  client-app/lib/presentation/view_model/question/detail/question_detail_binding.dart
  client-app/lib/presentation/view_model/question/detail/question_detail_view_model.dart
  client-app/lib/presentation/widget/question/brief/question_brief_default_item_view.dart
  client-app/lib/presentation/widget/question/summary/question_summary_default_item_view.dart
Owners: @HyungJoonSon

✨ Feature - Additional APIs (#45)
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/controller/query/MedicationQueryV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/dto/response/ReadUserMedicationListDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/service/ReadUserMedicationListService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/medication/usecase/ReadUserMedicationListUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/controller/query/QuestionQueryV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/dto/projection/ReadUserQuestionListProjection.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/dto/response/ReadUserQuestionListDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/repository/mysql/custom/QuestionRepositoryCustom.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/repository/mysql/custom/QuestionRepositoryCustomImpl.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/service/ReadUserQuestionListService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/question/usecase/ReadUserQuestionListUseCase.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

feat: Article API Connection
  client-app/lib/core/mediator/base_mediator.dart
  client-app/lib/data/provider/comment/comment_remote_provider_impl.dart
  client-app/lib/data/provider/question/question_remote_provider.dart
  client-app/lib/data/provider/question/question_remote_provider_impl.dart
  client-app/lib/data/repository/comment/comment_repository_impl.dart
  client-app/lib/data/repository/question/question_repository_impl.dart
  client-app/lib/domain/entity/question/question_brief_state.dart
  client-app/lib/domain/repository/question/question_repository.dart
  client-app/lib/domain/usecase/comment/read_article_comment_list_use_case.dart
  client-app/lib/domain/usecase/question/read_question_brief_list_by_user_use_case.dart
  client-app/lib/presentation/view/article/default/article_screen.dart
  client-app/lib/presentation/view/article/detail/widget/article_detail/article_detail_view.dart
  client-app/lib/presentation/view/home/widget/user_information/component/my_step_graph_layer.dart
  client-app/lib/presentation/view/home/widget/user_information/component/user_name_layer.dart
  client-app/lib/presentation/view/home/widget/user_information/user_information_view.dart
  client-app/lib/presentation/view/question/detail/widget/question_detail/question_detail_view.dart
  client-app/lib/presentation/view_model/article/default/article_view_model.dart
  client-app/lib/presentation/view_model/article/detail/article_detail_view_model.dart
  client-app/lib/presentation/view_model/home/home_binding.dart
  client-app/lib/presentation/view_model/home/home_view_model.dart
  client-app/pubspec.yaml
Owners: @HyungJoonSon

feat: Comment API Connection
  client-app/lib/core/mediator/base_mediator.dart
  client-app/lib/data/provider/comment/comment_remote_provider.dart
  client-app/lib/data/provider/comment/comment_remote_provider_impl.dart
  client-app/lib/data/provider/question/question_remote_provider_impl.dart
  client-app/lib/data/repository/comment/comment_repository_impl.dart
  client-app/lib/domain/condition/comment/create_article_comment_condition.dart
  client-app/lib/domain/condition/comment/delete_article_comment_condition.dart
  client-app/lib/domain/entity/comment/comment_state.dart
  client-app/lib/domain/repository/comment/comment_repository.dart
  client-app/lib/domain/usecase/comment/create_article_comment_use_case.dart
  client-app/lib/domain/usecase/comment/delete_article_comment_use_case.dart
  client-app/lib/domain/usecase/comment/read_article_comment_list_use_case.dart
  client-app/lib/presentation/view/article/detail/article_detail_screen.dart
  client-app/lib/presentation/view/article/detail/widget/article_detail/article_detail_view.dart
  client-app/lib/presentation/view/article/detail/widget/comment_card/comment_card_list_view.dart
  client-app/lib/presentation/view/article/detail/widget/comment_card/component/comment_default_item_view.dart
  client-app/lib/presentation/view/comment/adding/comment_adding_screen.dart
  client-app/lib/presentation/view/comment/adding/widget/comment_input_field/comment_input_field.dart
  client-app/lib/presentation/view_model/article/default/article_view_model.dart
  client-app/lib/presentation/view_model/article/detail/article_detail_binding.dart
  client-app/lib/presentation/view_model/article/detail/article_detail_view_model.dart
  client-app/lib/presentation/view_model/article/searching/article_searching_view_model.dart
  client-app/lib/presentation/view_model/comment/adding/comment_adding_binding.dart
  client-app/lib/presentation/view_model/comment/adding/comment_adding_view_model.dart
  client-app/lib/presentation/widget/article/brief/article_brief_default_item_view.dart
  client-app/lib/presentation/widget/article/summary/article_summary_default_item_view.dart
  client-app/lib/presentation/widget/common/dialog/confirm_dialog.dart
  client-app/lib/presentation/widget/common/text_input/custom_text_form_field.dart
Owners: @HyungJoonSon

fix: Question Brief View Fixel Error In Home Screen
  client-app/lib/presentation/view/board/widget/question_brief_card/question_brief_card_list_view.dart
  client-app/lib/presentation/view/home/widget/user_information/component/question_mini_default_item_view.dart
  client-app/lib/presentation/view/home/widget/user_information/user_information_view.dart
  client-app/lib/presentation/view_model/article/searching/article_searching_view_model.dart
Owners: @HyungJoonSon

chore: Article Command Role
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/controller/command/ArticleCommandV1Controller.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

feat: Update Notification Status In User API
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/dto/request/UpdateUserNotificationStatusDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/service/UpdateUserNotificationStatusService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/usecase/UpdateUserNotificationStatusUseCase.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

feat: Update Device Token In User API
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/dto/request/UpdateUserDeviceTokenDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/service/UpdateUserDeviceTokenService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/usecase/UpdateUserDeviceTokenUseCase.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

feat: Connection Controller & Service
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/controller/command/UserCommandV1Controller.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

✨ Feature - Additional User APIs (#48)
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/article/controller/command/ArticleCommandV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/controller/command/UserCommandV1Controller.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/dto/request/UpdateUserDeviceTokenDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/dto/request/UpdateUserNotificationStatusDto.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/service/UpdateUserDeviceTokenService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/service/UpdateUserNotificationStatusService.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/usecase/UpdateUserDeviceTokenUseCase.java
  server-api/src/main/java/org/dongguk/dscd/wooahan/api/user/usecase/UpdateUserNotificationStatusUseCase.java
Owners: @tkdwns414, @HyungJoonSon, @kurtyoon

feat: Medication Editing Screen UI/UX & API Connection
  client-app/lib/app/config/app_dependence.dart
  client-app/lib/core/mediator/base_mediator.dart
  client-app/lib/data/provider/medication/medication_remote_provider.dart
  client-app/lib/data/provider/medication/medication_remote_provider_impl.dart
  client-app/lib/data/repository/medication/medication_repository_impl.dart
  client-app/lib/data/repository/schedule/schedule_repository_impl.dart
  client-app/lib/domain/condition/medication/create_medication_list_condition.dart
  client-app/lib/domain/condition/medication/update_medication_list_condition.dart
  client-app/lib/domain/entity/medication/medication_state.dart
  client-app/lib/domain/entity/schedule/schedule_summary_state.dart
  client-app/lib/domain/repository/medication/medication_repository.dart
  client-app/lib/domain/usecase/medication/create_medication_list_use_case.dart
  client-app/lib/domain/usecase/medication/read_medication_list_use_case.dart
  client-app/lib/domain/usecase/medication/update_medication_list_use_case.dart
  client-app/lib/domain/usecase/user/update_device_token_in_user_use_case.dart
  client-app/lib/domain/usecase/user/update_notification_status_in_user_use_case.dart
  client-app/lib/presentation/view/medication/editing/medication_editing_screen.dart
  client-app/lib/presentation/view/medication/editing/widget/medication_content_for_editing/component/editing_icon_button.dart
  client-app/lib/presentation/view/medication/editing/widget/medication_content_for_editing/medication_content_for_editing_view.dart
  client-app/lib/presentation/view/medication/editing/widget/medication_indicator_for_editing/medication_indicator_for_editing_view.dart
  client-app/lib/presentation/view_model/login/login_view_model.dart
  client-app/lib/presentation/view_model/medication/default/medication_view_model.dart
  client-app/lib/presentation/view_model/medication/editing/medication_editing_binding.dart
  client-app/lib/presentation/view_model/medication/editing/medication_editing_view_model.dart
  client-app/lib/presentation/widget/medication/basic/medication_basic_default_item_view.dart
  client-app/lib/presentation/widget/question/brief/question_brief_default_item_view.dart
  client-app/lib/presentation/widget/question/summary/question_summary_default_item_view.dart
  client-app/pubspec.yaml
Owners: @HyungJoonSon

.github/CODEOWNERS:

/client-app/ @HyungJoonSon

/client-web/ @kurtyoon

/server-api/ @tkdwns414 @HyungJoonSon @kurtyoon

/server-llm/ @HyungJoonSon
